/* Required for full background image */


html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1100px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 700px;
  }
}




@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {

  }
}

h6 {
  line-height: 1.7;
}

.btn-fitgirl {
    background-color: #ed217c!important;
    color: #fff!important;
}