body{
    background: #f4f4f4;  
}

.btn-fitgirl {
    background-color: #ed217c!important;
    color: #fff!important;
}

.modal-dialog.modal-notify.modal-info .fa {
    color: #ed217c;
}

.modal-dialog.modal-notify.modal-info .badge, .modal-dialog.modal-notify.modal-info .modal-header {
    background-color: #ed217c;
}

/* NAVBAR */

 .navbar {
    background-color: #757575;
    border-bottom:4px solid #ed217c;
  }
  .navbar .navbar-brand {
    color: #ecf0f1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #fcfbfe;
  }
  .navbar .navbar-text {
    color: #ecf0f1;
  }
  .navbar .navbar-text a {
    color: #fcfbfe;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #fcfbfe; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #fcfbfe;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #757575;
    border-color: #e07dc4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #fcfbfe;
    background-color: #e07dc4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #e07dc4;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fcfbfe;
    background-color: #e07dc4;
  }
  .navbar .navbar-toggle {
    border-color: #e07dc4;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #e07dc4;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar .navbar-link {
    color: #ecf0f1;
  }
  .navbar .navbar-link:hover {
    color: #fcfbfe;
  } */



.main-color-bg{

    background-color: #ed217c !important;
    border: #ed217c !important;
    color: #ffffff;
    font-weight: bold;
    

}
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fcfbfe;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fcfbfe;
      background-color: #e07dc4;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fcfbfe;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fcfbfe;
      background-color: #e07dc4;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fcfbfe;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fcfbfe;
      background-color: #e07dc4;
    }
  }
  
   @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fcfbfe;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fcfbfe;
      background-color: #e07dc4;
    }
  }
   */
  /* .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fcfbfe;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fcfbfe;
    background-color: #e07dc4;
  }
  

 





/* HEADER */

#header{
    background: #333333;
    color:#ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#header > h4{
    padding-top:10px;
}

#header .create{
    padding-top:    5px;  
    padding-bottom: 0px;   
}

/*Breadcrumb*/

.breadcrumb{
    background: #cccccc;
    color: #333333;
    margin-bottom: 4px;
   
    
}

.breadcrumb a{
    color: #333333;
}


  
@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #ff74af
    }
  }
  
  
  
/* CARD */

#main.card{
    padding-bottom: 0px;
}
 