{% extends 'base.html' %}

{% block title %}Kindness Cards{% endblock %}

{% block content %}

<!-- <div class="container all-kindness-wrapper" style="position: relative; height: 680px; width: 100%; overflow: hidden; overflow-x: scroll;">


       <a class="btn unread-cards btn-white" style="font-family: sans-serif; width: 180px; padding-left: 1px; padding-right: 1px; font-size: 14px; font-weight: bold;">Show Unread Cards</a>
 -->
<div class="container all-kindness-wrapper" style="position: relative; height: 680px; width: 100%; overflow: hidden; overflow-x: scroll;">

       <a class="btn unread-cards btn-white" style="font-family: sans-serif; width: 180px; padding-left: 1px; padding-right: 1px; font-size: 14px; font-weight: bold;">Show Unread Cards</a>



        <div class="tabordion" style="width: 1230px; overflow: hidden;">

            {% for key, values in all.items %}
                <section>
                    <input type="radio" name="sections" id="option" checked>
                       <label for="option" style="font-family: sans-serif; font-size: 14px; font-weight: bold; height: 36px;">{{ key }}</label>
                       <article>
                     <!--{% for v in values.messages %}-->
                        <!--<p class="received-kindness">{{v}}</p>-->
                     <!--{% endfor %}-->

                         <div class="container" style="position: relative; padding: 0; height: 680px;">
                             <div class="card-wrapper" style="height: 100%;">

                                 <img class="rounded-circle account-img"  src="{{ values.photo }}"
                                     onError="this.onerror=null;this.src='/media/profile_image/default.jpg';" style="height: 40px; width: 40px;">
                                               <div style="font-family: sans-serif; font-size: 13px; font-weight: bold;">{{ key }}</div>

                                     <button class="kdns-btn read-button" type="button" onclick="openReadCard();" id="read-button"
                                             style="text-align: center; width: 200px; background-color: #FBEFEF; color: #000000; margin: 0 auto;
                                             font-family: sans-serif; font-size: 15px; font-weight: bold; top: 5px;">OPEN/CLOSE CARD</button>


 <div class="wrap kind-all-wrap" id="wrap"  style="background: white; position: relative; top: -50px;">
    <div style="overflow-y: scroll; height:510px; padding-right: 20px;">
       <div class="kindness-bg"></div>


   <span style="padding-left: 10px;">Hi,</span>

      <ul>
          <li>
            {% for v in values.messages  %}
                <!--<p>{{v}}</p>-->

               <p class="received-kindness"><span class="message-date">{{v.date}}</span>
                   <hr>{{v.body}}</p>
            {% endfor %}

            <u><i><label for="option" style="z-index:1; width: auto; background: transparent; border: none; float: right;">
                             <img class="rounded-circle account-img" src="{{ values.photo }}"
                                  onError="this.onerror=null;this.src='/media/profile_image/default.jpg';" style="height: 35px; width: 35px; margin: 15px auto 0;">{{ key }}
            </label></i></u>
          </li>
  </ul>
 </div>
  <div class="kindnessCardContainer kindnessCardAllContainer  card--front back" onclick="openReadCard();"></div>
  <div class="kindnessCardContainer kindnessCardAllContainer  card--front" onclick="openReadCard();"></div>

            </div>
           </div>
          </div>
                    </article>
                   </section>
            {% endfor %}
        </div>
</div>


<div class="container kindness" style="position: relative; padding: 0; overflow-x: scroll;">

    <a class=" btn all-cards btn-white" style="font-family: sans-serif; width: 180px; padding-left: 1px; padding-right: 1px; font-size: 14px; font-weight: bold;">Show All My Cards</a>

<!--     <a class=" btn all-cards btn-white" style="font-family: sans-serif; width: 180px; padding-left: 1px; padding-right: 1px; font-size: 14px; font-weight: bold;">Show All My Cards</a> -->


    <div class="card-wrapper" style="height: 680px;">

      <form action="{% url 'mark_read' %}">
    <button type="button" onclick="openCard();" id="button" style="
    text-align: center;
    background-color: #FBEFEF;color: #000000;
    margin: 12px auto 0;
    position: absolute; top: 8%; left: 44%;
    font-family: sans-serif; font-size: 15px; font-weight: bold;
    ">OPEN CARD</button>

     </form>

   <div class="wrap kind-all-wrap" id="wrap1"  style="background: white; position: absolute; top: 60px;">
   <div style="overflow-y: scroll; height:510px; padding-right: 20px;">
      <div style="background-image: url('{{ templates }}')" class="kindness-bg"></div>

    <span style="padding-left: 10px;">Hi,</span>
      <ul>
    {% if unread.items %}
        {% for name, message in unread.items %}
          <li>
            {% for v in message %}
                <p>{{v}}</p>
            {% endfor %}

            <u><i><label style="
              text-align: right;
          ">{{ name }}</label></i></u>
          </li>
        {% endfor %}
    {% else %}
  </ul>
        <h6><i>You have no new messages</i></h6>
{#        <img src="/static/images/heart.png">#}
    {% endif %}
  </div>

  <div class="kindnessCardContainer card--front back" onclick="openCard();"></div>
  <div style="background-image: url('{{ templates }}')" class="kindnessCardContainer card--front" onclick="openCard();"></div>
  </div>
  </div>
</div>


<script>
function openReadCard() {
$('.card--inner')
   // .slimScroll({ height:'513px'});
//$(".kind-all-wrap").css('margin-left','33%');
$(".kind-all-wrap").toggleClass('move');  //.css('margin-top','1px');

  var allReadbutton = document.getElementsByClassName('read-button');
  if(allReadbutton.innerHTML == 'Open/Close Cards') {
      allReadbutton.type = 'button';
      allReadbutton.innerHTML = 'Close All Cards';
  } else if(allReadbutton.innerHTML = 'Close All Cards') {
//$(".kind-all-wrap").css('margin-left','0');
      allReadbutton.innerHTML = 'Open All Cards';
  } else {
        allReadbutton.innerHTML = 'Open All Cards';
  }
  var Readcards = document.querySelectorAll('.kindnessCardAllContainer');
  for(var i = 0; i < Readcards.length; i++) {
    Readcards[i].classList.toggle('open');
  }
}
function openCard() {
   $('.card--inner')
       //.slimScroll({ height:'513px' });
$(".kind-wrap").css('margin-left','33%');
  var button = document.getElementById('button');
  if(button.innerHTML == 'OPEN CARD') {
      button.type = 'button';
      button.innerHTML = 'CLOSE CARD';
      } else if(button.innerHTML = 'CLOSE CARD') {
$(".kind-wrap").css('margin-left','0');
      button.type = 'submit';
      button.innerHTML = 'OPEN CARD';
  } else {
        button.innerHTML = 'OPEN CARD';
  }
  var cards = document.querySelectorAll('.kindnessCardContainer');
  for(var i = 0; i < cards.length; i++) {
    cards[i].classList.toggle('open');
  }
}
</script>
{% endblock %}
