{% extends 'base.html' %}

{% block title %}Kindness Cards{% endblock %}

{% block content %}


<div class="container all-kindness-wrapper" style="position: relative;height: 720px;">
<a class=" btn unread-cards btn-pink ">Show Unread Cards</a>
        <div class="tabordion">
            {% for key, values in all.items %}

                <section>
                  <input type="radio" name="sections" id="option" checked>
                  <label for="option">{{ key }}</label>
                  <article>
                     <!--{% for v in values.messages %}-->
                        <!--<p class="received-kindness">{{v}}</p>-->
                     <!--{% endfor %}-->

<div class="container" style="position:relative;padding: 0;">
    <div class="card-wrapper">

                    <h2> <img class="rounded-circle account-img" src="{{ values.photo }}"
                             onError="this.onerror=null;this.src='/media/profile_image/default.jpg';" style="height: 50px;width: 50px"> {{ key }}</h2>

<div class="wrap kind-wrap" id="wrap">
  <div class="kindnessCardContainer card--inner">
      <div class="kindness-bg"></div>
    <span style="
    text-align: left;
    float: left;
    clear: right;
    width: 100%;
    margin-left: 20px;
">Hi,</span>
      <ul>
          <li>
            {% for v in values.messages  %}
                <!--<p>{{v}}</p>-->
               <p class="received-kindness">{{v.body}}</p><span class="message-date">{{v.date}}</span>
            {% endfor %}

            <u><i><label for="option" style="z-index:1;width: auto;background: transparent;border: none;float: right;">{{ key }}</label></i></u>
          </li>
  </ul>
  </div>
  <div class="kindnessCardContainer card--front back" onclick="openCard();"></div>
  <div class="kindnessCardContainer card--front" onclick="openCard();">
  </div>
</div>
</div>
    <button class="kdns-btn" type="button" onclick="openCard();" id="button" style="
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
">Open Card</button>
</div>

                  </article>
                </section>
            {% endfor %}
          </div>

</div>

<div class="container kindness" style="position:relative;padding: 0;">
    <a class=" btn all-cards btn-pink ">Show All My Cards</a>
    <div class="card-wrapper">
<div class="wrap kindness kind-wrap" id="kind">
  <div class="kindnessCardContainer card--inner">
      <div class="kindness-bg"></div>
    <span style="
    text-align: left;
    float: left;
    clear: right;
    width: 100%;
    margin-left: 20px;
">Hi,</span>
      <ul>
    {% if unread.items %}
        {% for name, message in unread.items %}
          <li>
            {% for v in message %}
                <p>{{v}}</p>
            {% endfor %}
          
            <u><i><label style="
              text-align: right;
          ">{{ name }}</label></i></u>
          </li>
        {% endfor %}
    {% else %}
  </ul>
        <h6><i>You have no new messages</i></h6>
{#        <img src="/static/images/heart.png">#}
    {% endif %}

  </div>

  <div class="kindnessCardContainer card--front back" onclick="openCard();"></div>
  <div class="kindnessCardContainer card--front" onclick="openCard();">
  </div>
</div>
</div>
<form action="{% url 'mark_read' %}">
    <button type="button" onclick="openCard();" id="button" style="
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
">Open Card</button>
</form>
</div>

<script>
function openCard() {
$(".kind-wrap").css('margin-left','33%');
  var button = document.getElementById('button');
  if(button.innerHTML == 'Open Card') {
      button.type = 'button';
      button.innerHTML = 'Close Card';
  } else if(button.innerHTML = 'Close Card') {
$(".kind-wrap").css('margin-left','0');
      button.type = 'submit';
      button.innerHTML = 'Open Card';
  } else {
        button.innerHTML = 'Open Card';
  }
  var cards = document.querySelectorAll('.kindnessCardContainer');
  for(var i = 0; i < cards.length; i++) {
    cards[i].classList.toggle('open');
  }
}
</script>
{% endblock %}


