{% extends 'base.html' %}

{% block title %}Kindness Cards{% endblock %}

{% block content %}
<div class="container">
        <div class="tabordion">
                {% for key, values in inbox.items %}
        
        <section >
          <input type="radio" name="sections" id="option" checked>
          <label for="option">{{ key }}</label>
          <article>
            <h2>{{ key }}</h2>
             {% for v in values %}
                          <p>{{v}}</p>
                      {% endfor %}
          </article>
        </section>
                      {% endfor %}
          </div>
    <!-- {% for key, values in inbox.items %}
        <ul>
            <li class="selected"><a href="index.html">{{ key }}</a></li>
        </ul>

        <div>
            <article>
                <h3 style="font-size:18px;">{{ key }}</h3>
                <hr />
                <p></p>
                {% for v in values %}
                    <p>{{v}}</p>
                {% endfor %}
            </article>
        </div>
    {% endfor %} -->
</div>
{% endblock %}


