{% extends 'base.html' %}

{% block title %}Kindness Cards{% endblock %}

{% block content %}


<div class="container all-kindness-wrapper" style="position:relative">
<a class=" btn unread-cards btn-pink ">Show Unread Cards</a>
        <div class="tabordion">
            {% for key, values in all.items %}

                <section>
                  <input type="radio" name="sections" id="option" checked>
                  <label for="option">{{ key }}</label>
                  <article>
                    <h2>{{ key }}  says</h2>
                     {% for v in values %}
                        <p class="received-kindness">{{v}}</p>
                      {% endfor %}
                  </article>
                </section>
            {% endfor %}
          </div>
{#    {% for key, values in all.items %}#}
{#        <ul>#}
{#            <li class="selected"><a href="index.html">{{ key }}</a></li>#}
{#        </ul>#}
{#        <div>#}
{#            <article>#}
{#                <h3 style="font-size:18px;">{{ key }}</h3>#}
{#                <hr />#}
{#                <p></p>#}
{#                {% for v in values %}#}
{#                    <p>{{v}}</p>#}
{#                {% endfor %}#}
{#            </article>#}
{#        </div>#}
{#    {% endfor %}#}
</div>

<div class="container kindness" style="position:relative;padding: 0;">
    <a class=" btn all-cards btn-pink ">Show All My Cards</a>
    <div class="card-wrapper">
<div class="wrap kindness" id="wrap">
  <div class="kindnessCardContainer card--inner">
    <span style="
    text-align: left;
    float: left;
    clear: right;
    width: 100%;
    margin-left: 20px;
">Hi,</span>
      <ul>
    {% if unread.items %}
        {% for name, message in unread.items %}
          <li>
            {% for v in message %}
                <p>{{v}}</p>
            {% endfor %}
          
            <u><i><label style="
              text-align: right;
          ">{{ name }}</label></i></u>
          </li>
        {% endfor %}
    {% else %}
  </ul>
        <h6><i>You have no new messages</i></h6>
{#        <img src="/static/images/heart.png">#}
    {% endif %}

  </div>

  <div class="kindnessCardContainer card--front back" onclick="openCard();"></div>
  <div class="kindnessCardContainer card--front" onclick="openCard();">
    <h2>Kindness Cards!</h2>
  </div>
</div>
</div>
<form action="{% url 'mark_read' %}">
    <button type="button" onclick="openCard();" id="button" style="
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
">Open Card</button>
</form>
</div>

<script>

function openCard() {
  var button = document.getElementById('button');

  if(button.innerHTML == 'Open Card') {
      button.type = 'button';
      button.innerHTML = 'Close Card';
  } else if(button.innerHTML = 'Close Card') {
      button.type = 'submit';
      button.innerHTML = 'Open Card';
  } else {
        button.innerHTML = 'Open Card';
  }

  var cards = document.querySelectorAll('.kindnessCardContainer');
  for(var i = 0; i < cards.length; i++) {
    cards[i].classList.toggle('open');
  }
}
</script>
<!-- <style>
  
  /* Style the tab */
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
  }
  </style>
  </head>
  <body>
  
  <h2>Vertical Tabs</h2>
  <p>Click on the buttons inside the tabbed menu:</p>
  
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
  </div>
  
  <div id="London" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
  </div>
  
  <div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p> 
  </div>
  
  <div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>
  
  <script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script>
      -->

{% endblock %}


