{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
		<nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="/"><img src="{% static 'images/EmpowerU_LogoHR25.png' %}" alt="logo" height="40"/></a>
      {% if request.user.is_authenticated %}
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
		</button>
      <div class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'createprogram'%}">Program <span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'myprogram'%}">Program <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
          <li class="nav-item ">
            <a class="nav-link" href="#">Modules</a>
          </li>
           {% if request.user.is_superuser %}
          <li class="nav-item ">
            <a class="nav-link " href="#">Users</a>
          </li>
         {% else %}
            <li class="nav-item ">
            <a class="nav-link" href= "{%url 'aboutus'%}">About Us</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome {{user.get_short_name|capfirst }},<span class="sr-only">(current)</span></a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                {% load avatar_tags %}
                {% avatar user 30 %}</a>
                <ul class="dropdown-menu dropdown-menu-right" >
                    {% if request.user.is_superuser %}
                    {% else %}
                    <li class="card mx-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Points Earned</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                          </div>
                    </li>
                    {% endif %}
                    <li><a class="nav-link" href="{% url "password_change" %}"><i class="fas fa-user-shield fa-fw"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a></li>
                </ul>
            </li>
          </ul>
      </div>
      {% endif %}
    </nav>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
