{% extends 'account/dashboard.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load staticfiles %}


{% block content %}

<!-- changes done for streched image- srishty -->
    <div class ="container about-us">
    <h1 style="text-align: center;"><b>{{ page.title }}</b></h1>
    <h2 style="..."><b>{{ page.introduction }}</b></h2>
    <h3 style="text-align: center;">{{ page.description|richtext }}</h3>
    <!--Card Content-->


</br>
</br>
<!--<p><a href="{{ page.get_parent.url }}">Back</a></p>-->
</div>

<!--Advertisement-->
    <div class="img-responsive horizontal-banner" style="text-align: center;">
        <a target="_blank" href="{{ page.get_parent.specific.ad_url }}">
            {% image page.get_parent.specific.ad_image width-800 as ad_photo %}
                <img src="{{ ad_photo.url }}" class="img-fluid"/>
        </a>
    </div>
    <!--End Advertisement-->
{% endblock %}
</div>
