
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
<div class="container">
    <div class="row">
         <div class="col-md-10">
         {% block content %}
	{% if request.user.is_superuser %}
               
                <h1><i class="fas fa-address-book"></i> Admin Dashboard</h1>
              </div>
  	{% else %}
  		<h1>{{ user.get_short_name|capfirst  }}'s Dashboard</h1>
  	{% endif %}
    </div>
    <div class="row">
            <div class="col-sm-3">
            {% if request.user.is_superuser %}
                <div>
                      <div class="list-group">
                          <a href="#"  id ="test1" id="dashboard" class="list-group-item list-group-item-action  main-color-bg">Dashboard</a>
                          <a href="{% url 'createprogram' %}" id="createProgram" class="list-group-item list-group-item-action"><i class="fas fa-edit fa-fw"></i> Create Program </a>
                          <a href="{% url 'registerusers' %}" id="registerUsers" class="list-group-item list-group-item-action"><i class="fas fa-plus-circle fa-fw"></i> Register Users </a>
                          <a href="{% url 'users' %}" id="users" class="list-group-item list-group-item-action">  <i class="fas fa-female fa-fw"></i> Users </a>
                          <!--<a href="#" id="Settings" class="list-group-item list-group-item-action"><i class="fas fa-cog"></i>  Settings </a>-->
                          <!--<a href="{% url "password_change" %}" id="changePassword" class="list-group-item list-group-item-action">Change Password</a>-->
                      </div>
                </div>
            {% else %}
                <div>
                      <div class="list-group">
                          <a href="{% url 'userdashboard' %}" class="list-group-item list-group-item-action  main-color-bg">Dashboard</a>
                          <a href="{% url 'myprogram' %}" class="list-group-item list-group-item-action"><i class="fas fa-edit fa-fw"></i> My Program</a>
                          <!--<a href="{% url "password_change" %}" class="list-group-item list-group-item-action">Change Password</a>-->
                          <a href="{% url 'edit' %}" class="list-group-item list-group-item-action"><i class="fas fa-cog fa-fw"></i> Edit Profile</a>
                      </div>
                      <!--<div class="card" style="width: 18rem;">-->
                        <!--<div class="card-body">-->
                            <!--<h5 class="card-title">Points Earned</h5>-->
                            <!--<div class="progress">-->
                                <!--<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>-->
                              <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                </div>
            {% endif %}

            </div>
            <div class="col-sm-9">
                {% block dash_content %}
                {% endblock %}
            </div>

</div>
</div>

<script>
$(document).ready(function(){
     $("#dashboard").css("border","2px solid")

});

  </script>
{% endblock %}
