{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}Kindness Card{% endblock %}

{% block content %}

<!--These will be forever known as "Karthik Cards". -->

<div class ="container kindness-container">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="spacer-div-30"></div>
    <h1>{{ page.title }}</h1>

    <div class="container ">
        <div class="row">
  <!-- five tiers of classes: xs (extra small), sm (small), md (medium), lg (large), and xl (extra large). -->
            {% for user in user_data %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class=" kindness-card">
                        <div class="card-head">
                        </div>
                        <div class="card-body">
                            <div class="profile-picture">
                                <img src="{{ user.profile.photo.url }}" width="100%" height="100%">
                            </div>
                            <div class="bio">
                                <p class="profile-name">{{ user.first_name }} {{ user.last_name }}</p>
                                <input type="hidden" value="{{ user.email }}" name="user" class="kindness-email">
                                <p>{{ user.profile.bio }}</p>
                            </div>
                            <a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
  </div>

<div class="spacer-div-30"></div>

    <!-- Modal -->
    <div class="modal fade" id="kindnessModal" tabindex="-1" role="dialog" aria-labelledby="kindnessModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
          <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLongTitle">
                 <a class="navbar-brand" href="/"><img src="/static/images/EmpowerU_LogoHR25.png" alt="logo" height="40"></a>
           </h5>
           <button type="button" class="close remove-popup close_x" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
          </div>
          <form action="{% url 'send_message' %}" method="post">
              {% csrf_token %}
              <div class="modal-body kindness-modal-content">
                  <label>Dear <span class="popup-name">Jane</span>,</label>
                  <textarea name="message"></textarea>
              </div>
              <div class="modal-footer text-center">
               <input type="submit" class="btn btn-secondary btn-pink affirmations_close_button" value="Send">
              </div>
          </form>
         </div>
        </div>
    </div>

{% endblock %}
</div>
