{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}Kindness Card{% endblock %}

{% block content %}

<!--These will be forever known as "Karthik Cards". -->

<div class ="container kindness-container">
    <!-- <div class="my-kindness-cards">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div> -->
    <div class="spacer-div-30"></div>
      <h1>{{ page.title }}</h1>

        <div class="container ">
            <div class="row">
      <!-- five tiers of classes: xs (extra small), sm (small), md (medium), lg (large), and xl (extra large). -->
              {% for user in user_data %}
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                      <div class=" kindness-card">
                          <div class="card-head">
                          </div>
                          <div class="card-body">
                              <div class="profile-picture">
                                <img src="{{ user.profile.photo.url }}" width="100%" height="100%">
                              </div>
                              <div class="bio">
                                  <p class="profile-name">{{ user.first_name }} {{ user.last_name }}</p>
                                  <p>{{ user.profile.bio }}</p>
                              </div>
                              <a href='#{{ user.pk }}' id="{{ user.pk }}" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>
                          </div>
                      </div>
                  </div>
                  <div class="spacer-div-30"></div>

                    <!-- Modal -->
                    <div class="modal fade" id="kindnessModal" tabindex="-1" role="dialog" aria-labelledby="kindnessModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                         <div class="modal-content">
                          <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLongTitle">
                                 <a class="navbar-brand" href="/"><img src="/static/images/EmpowerU_LogoHR25.png" alt="logo" height="40"></a>
                           </h5>
                           <button type="button" class="close remove-popup close_x" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                          </div>
                          <div class="modal-body">
                             <!-- {% for dailyquote in dailyquote %}
                           <span class="affirmations-text">Today your affirmation is,</span>
                           <span class="affirmations-text text-center">""</span>
                           <span class="affirmations-text">Repeat this affirmation to yourself throughout the day!</span>
                             {% endfor %} -->
                             <label>Dear {{ user.last_name }},</label>
                             <textarea></textarea>
                          </div>
                          <div class="modal-footer text-center">
                           <button type="button" class="btn btn-secondary btn-pink affirmations_close_button" data-dismiss="modal">Send</button>
                          </div>
                         </div>
                        </div>
                       </div>
               {% endfor %}
            </div>
        </div>
</div>



          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                  <!--<div class=" kindness-card">-->
                          <!--<div class="card-head">-->
                      <!---->
                          <!--</div>-->
                          <!--<div class="card-body">-->
                              <!--<div class="profile-picture">-->
                      <!--<img src="/static/images/avatar_girl.png" width="100%" height="100%">-->
                              <!--</div>-->
                              <!--<div class="bio">-->
                                      <!--<p class="profile-name">Jane Doe</p>-->
                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                              <!--</div>-->
                              <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                          <!--</div>-->
                      <!---->
                      <!--</div>-->
                  <!--</div>-->
                 <!---->
                  <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                          <!--<div class=" kindness-card">-->
                                  <!--<div class="card-head">-->
                              <!---->
                                  <!--</div>-->
                                  <!--<div class="card-body">-->
                                      <!--<div class="profile-picture">-->
                              <!--<img src="/static/images/square_cheesecake.png" width="100%" height="100%">-->
                                      <!--</div>-->
                                      <!--<div class="bio">-->
                                              <!--<p class="profile-name">Rebecca Long</p>-->
                              <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                      <!--</div>-->
                                      <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                  <!--</div>-->
                              <!---->
                              <!--</div>-->
                          <!--</div>-->
                          <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                  <!--<div class=" kindness-card">-->
                                          <!--<div class="card-head">-->
                                      <!---->
                                          <!--</div>-->
                                          <!--<div class="card-body">-->
                                              <!--<div class="profile-picture">-->
                                      <!--<img src="/static/images/avatar_girl.png" width="100%" height="100%">-->
                                              <!--</div>-->
                                              <!--<div class="bio">-->
                                                      <!--<p class="profile-name">John Doe</p>-->
                                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                              <!--</div>-->
                                              <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                          <!--</div>-->
                                      <!---->
                                      <!--</div>-->
                                  <!--</div>-->
                                  <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                          <!--<div class=" kindness-card">-->
                                                  <!--<div class="card-head">-->
                                              <!---->
                                                  <!--</div>-->
                                                  <!--<div class="card-body">-->
                                                      <!--<div class="profile-picture">-->
                                              <!--<img src="/static/images/avatar_girl.png" width="100%" height="100%">-->
                                                      <!--</div>-->
                                                      <!--<div class="bio">-->
                                                              <!--<p class="profile-name">Jane Doe</p>-->
                                              <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                                      <!--</div>-->
                                                      <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                                  <!--</div>-->
                                              <!---->
                                              <!--</div>-->
                                          <!--</div>-->
                                         <!---->
                                          <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                                  <!--<div class=" kindness-card">-->
                                                          <!--<div class="card-head">-->
                                                      <!---->
                                                          <!--</div>-->
                                                          <!--<div class="card-body">-->
                                                              <!--<div class="profile-picture">-->
                                                      <!--<img src="/static/images/square_cheesecake.png" width="100%" height="100%">-->
                                                              <!--</div>-->
                                                              <!--<div class="bio">-->
                                                                      <!--<p class="profile-name">Rebecca Long</p>-->
                                                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                                              <!--</div>-->
                                                              <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                                          <!--</div>-->
                                                      <!---->
                                                      <!--</div>-->
                                                  <!--</div>-->
                                                  <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                                          <!--<div class=" kindness-card">-->
                                                                  <!--<div class="card-head">-->
                                                              <!---->
                                                                  <!--</div>-->
                                                                  <!--<div class="card-body">-->
                                                                      <!--<div class="profile-picture">-->
                                                              <!--<img src="/static/images/avatar_girl.png" width="100%" height="100%">-->
                                                                      <!--</div>-->
                                                                      <!--<div class="bio">-->
                                                                              <!--<p class="profile-name">John Doe</p>-->
                                                              <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                                                      <!--</div>-->
                                                                      <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                                                  <!--</div>-->
                                                              <!---->
                                                              <!--</div>-->
                                                          <!--</div>-->
                                                          <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                                                  <!--<div class=" kindness-card">-->
                                                                          <!--<div class="card-head">-->
                                                                      <!---->
                                                                          <!--</div>-->
                                                                          <!--<div class="card-body">-->
                                                                              <!--<div class="profile-picture">-->
                                                                      <!--<img src="/static/images/avatar_girl.png" width="100%" height="100%">-->
                                                                              <!--</div>-->
                                                                              <!--<div class="bio">-->
                                                                                      <!--<p class="profile-name">Jane Doe</p>-->
                                                                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                                                              <!--</div>-->
                                                                              <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                                                          <!--</div>-->
                                                                      <!---->
                                                                      <!--</div>-->
                                                                  <!--</div>-->
                                                                 <!---->
                                                                  <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                                                          <!--<div class=" kindness-card">-->
                                                                                  <!--<div class="card-head">-->
                                                                              <!---->
                                                                                  <!--</div>-->
                                                                                  <!--<div class="card-body">-->
                                                                                      <!--<div class="profile-picture">-->
                                                                              <!--<img src="/static/images/square_cheesecake.png" width="100%" height="100%">-->
                                                                                      <!--</div>-->
                                                                                      <!--<div class="bio">-->
                                                                                              <!--<p class="profile-name">Rebecca Long</p>-->
                                                                              <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                                                                      <!--</div>-->
                                                                                      <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                                                                  <!--</div>-->
                                                                              <!---->
                                                                              <!--</div>-->
                                                                          <!--</div>-->
                                                                          <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                                                                  <!--<div class=" kindness-card">-->
                                                                                          <!--<div class="card-head">-->
                                                                                      <!---->
                                                                                          <!--</div>-->
                                                                                          <!--<div class="card-body">-->
                                                                                              <!--<div class="profile-picture">-->
                                                                                      <!--<img src="/static/images/avatar_girl.png" width="100%" height="100%">-->
                                                                                              <!--</div>-->
                                                                                              <!--<div class="bio">-->
                                                                                                      <!--<p class="profile-name">John Doe</p>-->
                                                                                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                                                                              <!--</div>-->
                                                                                              <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                                                                          <!--</div>-->
                                                                                      <!---->
                                                                                      <!--</div>-->
                                                                                  <!--</div>-->
                                                                                  <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                                                                          <!--<div class=" kindness-card">-->
                                                                                                  <!--<div class="card-head">-->
                                                                                              <!---->
                                                                                                  <!--</div>-->
                                                                                                  <!--<div class="card-body">-->
                                                                                                      <!--<div class="profile-picture">-->
                                                                                              <!--<img src="/static/images/avatar_girl.png" width="100%" height="100%">-->
                                                                                                      <!--</div>-->
                                                                                                      <!--<div class="bio">-->
                                                                                                              <!--<p class="profile-name">Jane Doe</p>-->
                                                                                              <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                                                                                      <!--</div>-->
                                                                                                      <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                                                                                  <!--</div>-->
                                                                                              <!---->
                                                                                              <!--</div>-->
                                                                                          <!--</div>-->
                                                                                         <!---->
                                                                                          <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                                                                                  <!--<div class=" kindness-card">-->
                                                                                                          <!--<div class="card-head">-->
                                                                                                      <!---->
                                                                                                          <!--</div>-->
                                                                                                          <!--<div class="card-body">-->
                                                                                                              <!--<div class="profile-picture">-->
                                                                                                      <!--<img src="/static/images/square_cheesecake.png" width="100%" height="100%">-->
                                                                                                              <!--</div>-->
                                                                                                              <!--<div class="bio">-->
                                                                                                                      <!--<p class="profile-name">Rebecca Long</p>-->
                                                                                                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
                                                                                                              <!--</div>-->
                                                                                                              <!--<a href="#" class="btn btn-sm btn-pink btn-rounded waves-effect waves-light kindness-card-button" data-toggle="modal" data-target="#kindnessModal">Send kindness card</a>-->
                                                                                                          <!--</div>-->
                                                                                                      <!---->
                                                                                                      <!--</div>-->
                                                                                                  <!--</div>-->
          <!---->
      <!---->
      <!--</div>-->
  <!--</div>-->
  <!--<div>-->
  <!--</div>-->
<div class="spacer-div-30"></div>

    <!-- Modal -->
    <!--<div class="modal fade" id="kindnessModal" tabindex="-1" role="dialog" aria-labelledby="kindnessModalTitle" aria-hidden="true">-->
        <!--<div class="modal-dialog modal-dialog-centered" role="document">-->
         <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
           <!--<h5 class="modal-title" id="exampleModalLongTitle">-->
                 <!--<a class="navbar-brand" href="/"><img src="/static/images/EmpowerU_LogoHR25.png" alt="logo" height="40"></a>-->
           <!--</h5>-->
           <!--<button type="button" class="close remove-popup close_x" data-dismiss="modal" aria-label="Close">-->
             <!--<span aria-hidden="true">&times;</span>-->
           <!--</button>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
             <!--&lt;!&ndash; {% for dailyquote in dailyquote %}-->
           <!--<span class="affirmations-text">Today your affirmation is,</span>-->
           <!--<span class="affirmations-text text-center">""</span>-->
           <!--<span class="affirmations-text">Repeat this affirmation to yourself throughout the day!</span>-->
             <!--{% endfor %} &ndash;&gt;-->
             <!--<label>Dear {{ user.last_name }},</label>-->
             <!--<textarea></textarea>-->
          <!--</div>-->
          <!--<div class="modal-footer text-center">-->
           <!--<button type="button" class="btn btn-secondary btn-pink affirmations_close_button" data-dismiss="modal">Send</button>-->
          <!--</div>-->
         <!--</div>-->
        <!--</div>-->
       <!--</div>-->

<!-- <div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>My Cards</h1>

    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div> -->
{% endblock %}
</div>
