{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block content %}

<div class ="container">
    <br>
    <br>
  <h1>{{ page.title }}</h1>
{{ page.body|richtext }}

 <!--{% for post in page.get_children %}-->
    <!--<div class="card-group" >-->
        <!--<div class="card bg-primary" href="{% pageurl post %}">-->
    <!--<div class="card-body text-center">-->
<!--&lt;!&ndash;<p class="card-text" >&ndash;&gt;-->
<!--<a href="{% pageurl post %}" class = "card-text" role="button">{{post.title}}</a>-->
       <!--&lt;!&ndash;<button type="button" class="btn btn-primary btn-lg btn-block" href="{% pageurl post %}">{{post.title}}</button>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
    <!--</div>-->

        <!--</div>-->
    <!--</div>-->

<!--{% endfor %}-->

<!--{% for post in page.get_children %}-->
<!--<h2><a href="{% pageurl post %}">{{post.title}}</a></h2>-->
<!--{% endfor %}-->

    {% for post in page.get_children %}
    <a href="{% pageurl post %}" class = "btn btn-primary btn-lg btn-block" role="button">{{post.title}}</a>
    <br>
    <br>
    {% endfor %}

<p><a href="{{ page.get_parent.url }}">Back</a></p>

{% endblock %}
</div>