{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load useractivity %}

{% block content %}

<div class="container">
    <br>
    <br>
    <h1 style="text-align: center;">{{ page.title }}</h1>
    <h2 style="text-align: center;"> {{ page.intro|richtext }}</h2>
    <h4 style="text-align: center;"> {{ page.description|richtext }}</h4>
    <!--Card Content-->
    <div class="row" style="display: flex; flex-wrap: wrap; text-align: center;">
        {% now "Y-m-d" as current_date %}
        {% for post in page.get_children.live %}
        {# Custom tags to indicate if the user is on the Nutrution page or the Physical page #}
        {% is_nutrition_page page as is_nutrition %}
        {% is_physical_page page as is_physical %}
        {# Return the number of activities available for the given recipe and the number the user has completed #}
        {% nutrition_activities_done post user as nutrition_activities_done %}
        {% nutrition_activity_count post as nutrition_activity_count %}
        {# Return True or False depending on whether the user has completed the physical activity for a given day #}
        {% physical_activity_done post user as physical_activity_done %}
        {# End of custom tags #}

        {% image post.specific.display_image original as reward_image %}
        {% if post.specific.end_date and post.specific.start_date %}
        {% if current_date > post.specific.end_date|date:"Y-m-d" %}
        <div class="col-sm-4 mt-3">
            <div class="card hoverable disabled" style="opacity: 0.65;">
                <a href="{% pageurl post %}">
                    <img class="card-img-top" src="{{ reward_image.url }}" alt="Card image cap"
                         style="width: 100%; height: 200px; object-fit: cover;"/>
                    <div class="card-body bg-dark">
                        {% if is_nutrition %}
                        {% if nutrition_activity_count > 1 %}
                        {% if nutrition_activities_done > 0 and nutrition_activities_done < nutrition_activity_count %}
                            <span class="heart heart-incomplete">
                                <i class="fas fa-heart fa-2x" style="float:right;"></i>
                            </span>
                            <span class="heart">
                                <i class="far fa-heart fa-2x" style="float:right;"></i>
                            </span>
                        {% elif nutrition_activity_count == nutrition_activities_done %}
                            <span class="heart">
                                <i class="fas fa-heart fa-2x" ></i>
                            </span> <!-- full heart -->
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% if is_physical and physical_activity_done %}
                            <span class="heart">
                                <i class="fas fa-heart fa-2x" ></i>
                            </span> <!-- full heart -->
                        {% endif %}
                    <h5 class="card-title"><b>{{ post.title|richtext }}</b></h5>
                        <!--<p class="card-text">{{ post.specific.intro|richtext}}</p>-->
                    </div>
                </a>
            </div>
        </div>
        {% elif current_date < post.specific.start_date|date:"Y-m-d" %}
        <div class="col-sm-4 mt-3">
            <div class="card hoverable disabled" style="opacity: 0.65;">
                <a href="{% pageurl post %}">
                    <img class="card-img-top" src="{{ reward_image.url }}" alt="Card image cap"
                         style="width: 100%; height: 200px; object-fit: cover;"/>
                    <div class="card-body bg-dark">
                        {% if is_nutrition %}
                        {% if nutrition_activity_count > 1 %}
                        {% if nutrition_activities_done > 0 and nutrition_activities_done < nutrition_activity_count %}
                            <span class="heart heart-incomplete">
                                <i class="fas fa-heart fa-2x" style="float:right;"></i>
                            </span>
                            <span class="heart">
                                <i class="far fa-heart fa-2x" style="float:right;"></i>
                            </span>
                        {% elif nutrition_activity_count == nutrition_activities_done %}
                            <span class="heart">
                                <i class="fas fa-heart fa-2x" ></i>
                            </span> <!-- full heart -->
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% if is_physical and physical_activity_done %}
                             <span class="heart">
                                <i class="fas fa-heart fa-2x" ></i>
                             </span> <!-- full heart -->
                        {% endif %}
                        <!--<p class="card-text">{{ post.specific.intro|richtext}}</p>-->
                        <h5 class="card-title"><b>{{ post.title|richtext }}</b></h5>
                    </div>
                </a>
            </div>
        </div>
        {% else %}
        <div class="col-sm-4 mt-3">
            <div class="card hoverable">
                <a href="{% pageurl post %}">
                    <img class="card-img-top" src="{{ reward_image.url }}" alt="Card image cap"
                         style="width: 100%; height: 200px; object-fit: cover;"/>
                    <div class="card-body bg-dark">
                        {% if is_nutrition %}
                        {% if nutrition_activity_count > 1 %}
                        {% if nutrition_activities_done > 0 and nutrition_activities_done < nutrition_activity_count %}
                            <span class="heart heart-incomplete">
                                <i class="fas fa-heart fa-2x" style="float:right;"></i>
                            </span>
                            <span class="heart">
                                <i class="far fa-heart fa-2x" style="float:right;"></i>
                            </span
                        {% elif nutrition_activity_count == nutrition_activities_done %}
                            <span class="heart">
                                <i class="fas fa-heart fa-2x" ></i>
                             </span><!-- full heart -->
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% if is_physical and physical_activity_done %}
                            <span class="heart">
                             <i class="fas fa-heart fa-2x" ></i>
                            </span> <!-- full heart -->
                        {% endif %}
                        <!--<p class="card-text">{{ post.specific.intro|richtext}}</p>-->
                        <h5 class="card-title"><b>{{ post.title|richtext }}</b></h5>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="col-sm-4 mt-3">
            <div class="card hoverable">
                <a href="{% pageurl post %}">
                    <img class="card-img-top" src="{{ reward_image.url }}" alt="Card image cap"
                         style="width: 100%; height: 200px; object-fit: cover;"/>
                    <div class="card-body bg-dark">
                        {% if is_nutrition %}
                        {% if nutrition_activity_count > 0 %}
                        {% if nutrition_activities_done > 0 and nutrition_activities_done < nutrition_activity_count %}
                            <span class="heart heart-incomplete">
                                <i class="fas fa-heart fa-2x" style="float:right;"></i>
                            </span>
                            <span class="heart">
                                <i class="far fa-heart fa-2x" style="float:right;"></i>
                            </span>
                        {% elif nutrition_activity_count == nutrition_activities_done %}
                            <span class="heart">
                                <i class="fas fa-heart fa-2x" ></i>
                            </span> <!-- full heart -->
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% if is_physical and physical_activity_done %}
                            <span class="heart">
                                <i class="fas fa-heart fa-2x" ></i>
                            </span> <!-- full heart -->
                        {% endif %}
                        <!--<p class="card-text">{{ post.specific.intro|richtext}}</p>-->
                        <h5 class="card-title"><b>{{ post.title|richtext }}</b></h5>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--End Card Content-->
    <!--adding banner space_Srishty -->
    <div class="img-responsive ">
        <!--change wording on Return and align left side of buttons_Brent -->
        <a href="{{ page.get_parent.url }}" class="btn btn-fitgirl pull-right btn-return"><i
                class="fa fa-chevron-circle-left"></i> &nbsp Return</a>
        <hr style="color: black; background: #333;">
        <!--removed 'br'-tags to decrease the space between the line and banner - Karthik-->
        <!--Advertisement-->
        <div class="img-responsive horizontal-banner" style="text-align: center;">
            <a target="_blank" href="{{ page.ad_url }}">
                {% image page.ad_image width-800 as ad_photo %}
                <img src="{{ ad_photo.url }}" class="img-fluid"/>
            </a>
        </div>
        <!--End Advertisement-->

    </div>
</div>
    {% endblock %}