{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block content %}
<div class ="container">
    <br>
    <br>
  <h1> {{ page.intro|richtext }}</h1>
<h5> TRY IT!</h5>
{{ page.body|richtext }}

<!--<form action="{% pageurl page %}" method="POST">-->
 <!--{% csrf_token %}-->
<!--{{form.as_p}}-->
  <!--<input type="submit">-->
<!--</form>-->
{{ page.morecontent|richtext}}
{{ page.facts|richtext}}

{% for post in page.get_children %}
<h2><a href="{% pageurl post %}">{{post.title}}</a></h2>
    {% endfor %}

<br>
 <br>
<a href="{{ page.get_parent.url }}"  class="btn btn-fitgirl pull-right"><i class="fa fa-chevron-circle-left"></i> &nbsp Return to Model</a>

{% endblock %}
</div>
