{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
{#    Nutritional Redesign - Aishwarya #}
<div class ="container nutrition-post-page">
  <h1>
      <a href="{{ page.get_parent.url }}" style="float:left" class="confetti-button back-btn btn btn-fitgirl pull-right"></a>{{ page.intro|richtext }}</h1>

    <h5> TRY IT!</h5>
    <!-- printing area starts here _Kelley -->
    <div id="printableArea">
    {{ page.body|richtext }}

<!--<form action="{% pageurl page %}" method="POST">-->
 <!--{% csrf_token %}-->
<!--{{form.as_p}}-->
  <!--<input type="submit">-->
<!--</form>-->
        <div id="nutrition">

            <div class ="nutrition-facts">
                {{ page.facts|richtext}}
            </div>
            <div class="col-sm-2 vertical-ad-banner">
                <div class="advertisement">
                    <img src="/static/images/vertica_banner.PNG">
                </div>
            </div>

            <div class="nutrition-content">
                {{ page.morecontent|richtext}}
            </div>

    <!-- printing area ends here _Kelley -->
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>

        </div>

    </div>

    <form>
        <input class="print-button" type="button" value="Print Recipe" onClick="printDiv('printableArea')"/>
    </form>
    {% for post in page.get_children %}
    <h2><a href="{% pageurl post %}">{{post.title}}</a></h2>
    {% endfor %}
<br>
    <!--Added banner space:hghanta-->
 <br>
 <br>
<!--<a href="{{ page.get_parent.url }}"  class="btn btn-fitgirl pull-right"><i class="fa fa-chevron-circle-left"></i> &nbsp Return</a>-->
<hr style="color: black; background: #333;">

<!--Advertisement-->

    <br>
{#    {{ page.facts|richtext}}#}
    <div class="img-responsive horizontal-banner" style="text-align: center;">
        <a target="_blank" href="{{ page.get_parent.specific.ad_url }}">
            {% image page.get_parent.specific.ad_image width-800 as ad_photo %}
            <img src="{{ ad_photo.url }}" class="img-fluid"/>
        </a>
    </div>
    <!--End Advertisement-->

    {% endblock %}
</div>