{% extends "base_page.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<div class ="container-fluid" align="center" style="position: absolute">
    <br>
    <br>
    <h2 align="center"> Thank you for your submission! Please go to other modules and finish your weekly activity. </h2>
    <h4 align="center">{{page.thank_you_text|richtext}}</h4>
        {% if page.points_for_this_activity %}
            <h4 align="center">Congratulations! You have scored {{page.points_for_this_activity}} points! </h4>
        {% endif %}
        <p>
            <a href="{{ page.get_parent.url }}"  class="btn btn-fitgirl" style="text-align: center">Return</a>
        </p>

</div>

<canvas id="canvas"></canvas>
{% endblock %}