{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class ="container">
    <br>
    <br>
<h2> Thank You for doing this Exercise. Wait for tomorrow for the next physical Challenge!!! </h2>
    {{page.thank_you_text|richtext}}
    {% if page.points_for_this_activity %}
    <h4>Congratulations. You have scored {{page.points_for_this_activity}} points to answer this </h4>
 {% endif %}

<p><a href="{{ page.get_parent.url }}"> Back to Module </a></p>
{% endblock %}
</div>
