{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <div class ="container physical-post-page">

    <h1 style="text-align: center;">
        <!--<a href="{{ page.get_parent.url }}" style="float:left" class="confetti-button back-btn btn btn-fitgirl pull-right">BACK</a>-->
        <a href="{{ page.get_parent.url }}"  class="btn btn-fitgirl pull-right back-btn"><i class="fa fa-chevron-circle-left"></i><span class="return-txt"> &nbsp Return</span></a>
        {{ page.title }}</h1>


    {% if user.is_authenticated and user.is_active or request.is_preview %}
        {% if form %}
            <div class="container-description">{{ page.intro|richtext }}</div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 physical-content">
                        <ul class="nav nav-pills">
                          <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#strength">Strength</a></li>
                          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#agility">Agility</a></li>
                          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#flexibility">Flexibility</a></li>
                        </ul>

                        <div class="tab-content">
                          <div id="strength" class="tab-pane fade in active">
                              <h3>Strength</h3>
                              {{ page.strength|richtext }}
                          </div>
                          <div id="agility" class="tab-pane fade in">
                              <h3>Agility</h3>
                              {{ page.agility|richtext }}
                          </div>
                          <div id="flexibility" class="tab-pane fade in">
                              <h3>Flexibility</h3>
                              {{ page.flexibility|richtext }}
                          </div>
                          
                        <form class="physical-form" action="{% pageurl page %}" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="hidden" name="pageurl" value="{% pageurl page %}">
                                <br>
                                <br>
                                <button class="btn-fitgirl btn-lg" id="done">Completed!</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-2 vertical-ad-banner">
                            <div class="advertisement">
                                    <a target="_blank" href="http://fitgirlinc.com/">
                                <img src="/static/images/FITGIRLBANNER_AD.original.png">
                                </a>
                            </div>
                            <div class="announcements">
                                    <h2>Announcements</h2>
                                      <div class="rich-text"><ol><li><b>Join us for EmpowerU!</b></li><li><b>Our 12 week empowerment classes are offered 2x a year for girls ages 8-13 years!</b></li><li><b>Become more physically active, working their way up to getting 60 minutes of exercise a day and staying active for life!</b></li><li><b>Develop and maintain self-respect, self-confidence, and a positive self-image.</b></li><li><b>Understand the connection between mind and body.</b></li></ol><p></p></div>
                                  </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div>You have already completed this exercise.</div>
        {% endif %}
    {% else %}
        <div>To fill in the form, you should log in.</div>
    {% endif %}
<!--added banner space, return button modified:hghanta-->
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<hr style="color: black; background: #333;">
    <!--Advertisement-->
<div class="img-responsive horizontal-banner" style="text-align: center;">
    <a target="_blank" href="{{ page.get_parent.specific.ad_url }}">
        {% image page.get_parent.specific.ad_image width-800 as ad_photo %}
            <img src="{{ ad_photo.url }}" class="img-fluid"/>
    </a>
    
    <!--End Advertisement-->
    <script>
        $('#done').hide();

        jQuery(function($){
            $('#startClock').on('click', doCount);
        });

        function doCount(){
            var timer2 = "{{ page.timer_for_this_activity|safe }}";
            var interval = setInterval(function() {


                var timer = timer2.split(':');
                //by parsing integer, I avoid all extra string processing
                var minutes = parseInt(timer[0], 10);
                var seconds = parseInt(timer[1], 10);
                --seconds;
                minutes = (seconds < 0) ? --minutes : minutes;
                seconds = (seconds < 0) ? 59 : seconds;
                seconds = (seconds < 10) ? '0' + seconds : seconds;
                alert(minutes);
                alert(seconds);
                //minutes = (minutes < 10) ?  minutes : minutes;
                $('#countdown').html(minutes + ':' + seconds);
                if (minutes < 0)
                    clearInterval(interval);
                //check if both minutes and seconds are 0
                if ((seconds <= 0) && (minutes <= 0)){
                    clearInterval(interval);
                    $('#done').show();
                    $('#countdown').hide();
                }

                timer2 = minutes + ':' + seconds;
            }, 1000);
        }

        $(document).ready(function() {
        $('.nav-item a[href="#strength"]').tab('show')
            

    });
    

    </script>

</div>

</div>
<script>
$(".physical-post-page").on('click', '.start-timer', function() {
    $(".demo").css("visibility", "visible");
    var options = {
        // data-since
        since: null,
        // data-due
        due: "2017",
        // data-now
        now: null,
        // data-layout
        layout: "group tight label-uppercase label-small",
        // data-face
        face: "text",
        // data-visual
        visual: "ring cap-round invert progressgradient-fb1a1b_fc1eda ring-width-custom align-center gap-0",
        // data-format
        format: "m,s",
        // data-singular
        singular: false,
        // data-reflect
        reflect: false,
        // data-scale-max
        scaleMax: "fill",
        // data-scale-hide
        scaleHide: null,
        // data-separate-chars
        separateChars: true,
        // data-cascade
        cascade: true,
        // data-separator
        separator: "",
        // data-labels-*
        labelsYears: null,
        labelsDays: null,
        labelsHours: null,
        labelsMinutes: null,
        labelsSeconds: null,
        // data-padding
        padding: true,
        // data-padding-*
        paddingDays: null,
        paddingHours: null,
        paddingMinutes: null,
        paddingSeconds: null,
        // data-event-complete
        eventComplete: null,
        // data-event-tick
        eventTick: null,

    };
    // get the element
    var element = document.getElementById('my-soon-watch-red');
    // turn it into a Soon counter
    Soon.create(element, {
        'due': 'in 0 seconds',
        'scale': 'fill',
        'layout': 'group tight label-uppercase label-small',
        'format': 'm,s',
        'face': 'slot',
        'padding': 'false',
        'visual': 'ring cap-round invert progressgradient-fb1a1b_fc1eda ring-width-custom align-center gap-0',
        'eventComplete': 'warmUp'
    });
});

function warmUp() {
    // Calculate the time in terms of seconds and minutes
    var timer2 = "{{ page.timer_for_this_activity|safe }}";
    var timer = timer2.split(':');
    //by parsing integer, I avoid all extra string processing
    var minutes = parseInt(timer[0], 10);
    var seconds = parseInt(timer[1], 10);
    --seconds;
    minutes = (seconds < 0) ? --minutes : minutes;
    seconds = (seconds < 0) ? 59 : seconds;
    seconds = (seconds < 10) ? '0' + seconds : seconds;
    var minutes_in_seconds = 60 * minutes;
    var total_time_in_seconds = minutes_in_seconds + seconds;
    var time = "in " + total_time_in_seconds + " seconds";
    // ##############Exercise variables###########################
        var _exercise ="in " + 90 + " seconds";
        var _exercise_set_timeout = 90*1000;
        var _rest = "in " + 30 + " seconds";
        var _rest_set_timeout = 30*1000;
        var _one_interval = 3 * (_exercise_set_timeout + _rest_set_timeout);
        console.log(_one_interval)
        var _intervals =5;
        var _total_exercise_time = _intervals * _one_interval;
        console.log(_total_exercise_time);
        var _warm_up = "in " + 180 + " seconds";
        var _cool_down = "in " + 180 + " seconds";
        var _cool_down_timeout = 180*1000;
    // ##############Exercise variables########################### 
    $("#my-soon-watch-red").soon().destroy();
    var element = document.getElementById('my-soon-watch-red');
    var someObject = {
        'due': 'in 6 seconds',
        'eventComplete': 'training',
        'layout': 'group tight label-uppercase label-small',
        'format': 'm,s',
        'face': 'slot',
        'padding': 'false',
        'visual': 'ring cap-round invert progressgradient-fb1a1b_fc1eda ring-width-custom align-center gap-0'
    };
     someObject.due = _warm_up;
    $("#my-soon-watch-red").soon().create(someObject);
    console.log("warm-up");
        $( "span.interval" ).text( " " );
        $( "span.interval" ).text( "Warm-up" );
}
// function coolDown(){// enter the number of intervals here
var training = function() {
    //Strength Timer
    var strength = function() {
        var defer = $.Deferred();
        // Setting time from wagtail
        
    // ##############Exercise variables###########################
        var _exercise ="in " + 90 + " seconds";
        var _exercise_set_timeout = 90*1000;
    // ##############Exercise variables########################### 

        $("#my-soon-watch-red").soon().destroy();
        var element = document.getElementById('my-soon-watch-red');
        var someObject = {
            'due': 'in 4 seconds',
            'eventComplete': 'rest',
            'layout': 'group tight label-uppercase label-small',
            'format': 'm,s',
            'face': 'slot',
            'padding': 'false',
            'visual': 'ring cap-round invert progressgradient-fb1a1b_fc1eda ring-width-custom align-center gap-0'
        };
        someObject.due = _exercise;
        $("#my-soon-watch-red").soon().create(someObject);
        duration = 4000;
        console.log('a() called - strength');
        $( "span.interval" ).text( " " );
        $( "span.interval" ).text( "Strength" );

        setTimeout(function() {
            defer.resolve(); // When this fires, the code in a().then(/..../); is executed.
        }, _exercise_set_timeout); //set duration = durations of individual exercise

        return defer;
    };

    var agility = function() {
        var defer = $.Deferred();
        
        // ##############Exercise variables###########################
            var _exercise ="in " + 90 + " seconds";
            var _exercise_set_timeout = 90*1000;
        // ##############Exercise variables########################### 
        $("#my-soon-watch-red").soon().destroy();
        var element = document.getElementById('my-soon-watch-red');
        var someObject = {
            'due': 'in 4 seconds',
            'layout': 'group tight label-uppercase label-small',
            'format': 'm,s',
            'face': 'slot',
            'padding': 'false',
            'visual': 'ring cap-round invert progressgradient-fb1a1b_fc1eda ring-width-custom align-center gap-0'
        };
         someObject.due = _exercise;
        $("#my-soon-watch-red").soon().create(someObject);
        console.log('c() called -agility');
        $( "span.interval" ).text( " " );
        $( "span.interval" ).text( "Agility" );

        setTimeout(function() {
            defer.resolve();
        }, _exercise_set_timeout);
        return defer;
    };
    var flexibility = function() {
        var defer = $.Deferred();
        
        // ##############Exercise variables###########################
            var _exercise ="in " + 90 + " seconds";
            var _exercise_set_timeout = 90*1000;
        // ##############Exercise variables########################### 
        $("#my-soon-watch-red").soon().destroy();
        var element = document.getElementById('my-soon-watch-red');
        var someObject = {
            'due': 'in 4 seconds',
            'layout': 'group tight label-uppercase label-small',
            'format': 'm,s',
            'face': 'slot',
            'padding': 'false',
            'visual': 'ring cap-round invert progressgradient-fb1a1b_fc1eda ring-width-custom align-center gap-0'
        };
         someObject.due = _exercise;
        $("#my-soon-watch-red").soon().create(someObject);
        console.log('c() called -flexibility');
        $( "span.interval" ).text( " " );
        $( "span.interval" ).text( "Flexibility" );

        setTimeout(function() {
            defer.resolve();
        }, _exercise_set_timeout);

        return defer;
    };

    var rest = function() {
        var defer = $.Deferred(); 
        // ##############Exercise variables###########################
        var _rest = "in " + 30 + " seconds";
        var _rest_set_timeout = 30*1000;
        // ##############Exercise variables###########################
        $("#my-soon-watch-red").soon().destroy();
        var element = document.getElementById('my-soon-watch-red');
        var someObject = {
            'due': 'in 2 seconds',
            'layout': 'group tight label-uppercase label-small',
            'format': 'm,s',
            'face': 'slot',
            'padding': 'false',
            'visual': 'ring cap-round invert progressgradient-fb1a1b_fc1eda ring-width-custom align-center gap-0'
        };
         someObject.due = _rest;
        $("#my-soon-watch-red").soon().create(someObject);
        console.log('b() called - rest');
        $( "span.interval" ).text( " " );
        $( "span.interval" ).text( "Rest" );

        setTimeout(function() {
            defer.resolve();
        }, _rest_set_timeout);

        return defer;
    };
    // strength().then(rest).then(agility).then(rest).then(flexibility).then(rest);
    var innertraining = function() {
        strength().then(rest).then(agility).then(rest).then(flexibility).then(rest);
    }
    // ##############Exercise variables###########################
        var _exercise ="in " + 90 + " seconds";
        var _exercise_set_timeout = 90*1000;
        var _rest = "in " + 30 + " seconds";
        var _rest_set_timeout = 30*1000;
        var _one_interval = 3 * (_exercise_set_timeout + _rest_set_timeout);
        var _intervals =5;
        var _total_exercise_time = _intervals * _one_interval;
    // ##############Exercise variables########################### 
    innertraining();
    var refreshIntervalId = setInterval(innertraining, _one_interval);
    
    setTimeout(function() {
        clearInterval(refreshIntervalId)
        var _cool_down = "in " + 180 + " seconds";
        var _cool_down_timeout = 180*1000;
        $("#my-soon-watch-red").soon().destroy();
        var element = document.getElementById('my-soon-watch-red');
        var someObject = {
            'eventComplete': 'formSubmit',
            'due': 'in 6 seconds',
            'layout': 'group tight label-uppercase label-small',
            'format': 'm,s',
            'face': 'slot',
            'padding': 'false',
            'visual': 'ring cap-round invert progressgradient-fb1a1b_fc1eda ring-width-custom align-center gap-0'
        };
        someObject.due = _cool_down;
        $("#my-soon-watch-red").soon().create(someObject);
        console.log('b() called - cooldown');
        $( "span.interval" ).text( " " );
        $( "span.interval" ).text( "Cool Down" );
        setTimeout(function() {
            $( ".physical-form" ).submit();
        },_cool_down_timeout);
    }, _total_exercise_time);
    
}
    </script>
  <section class="demo">
      <span class="interval">abc</span>
    <div id="my-soon-watch-red"></div>
      </section>
{% endblock %}
