{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1>
      <a href="{{ page.get_parent.url }}" style="float:left" class="confetti-button back-btn btn btn-fitgirl pull-right"> Return</a>
      {{ page.title }}
    </h1>
    <div id="printableArea" class=intro"> {{page.body|richtext}}
    </div>
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>

    <form>
        <input class="print-button" type="button" value="Print Page" onClick="printDiv('printableArea')"/>
    </form>

    <!--<form>-->
    <!--<input type="button" value="Print me!" onClick="window.print()"/>-->
    <!--</form>-->

    {% for post in page.get_children %}
    <h2><a href="{% pageurl post %}">{{post.title}}</a></h2>
    {% endfor %}
    <br>
    <br>
    {% endblock %}
</div>
                                  

