{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load sidebar_data %}

{% block content %}
<div class ="container question-page">
        <h1>
            <a href="{{ page.get_parent.url }}" class="btn btn-fitgirl pull-right back-btn">
            <i class="fa fa-chevron-circle-left"></i>
            <span class="return-txt"> &nbsp Return</span></a>
            {{ page.title }}</h1>

        {% if user.is_authenticated and user.is_active or request.is_preview %}
            {% if form %}
                <div>
                    {{ page.intro|richtext }}
                    <div class="col-sm-2 vertical-ad-banner">
                             <div class="announcements">
                                    <h2>Advertisement</h2>
                                      <div class="rich-text"><ol><li><b>{% sidebarimage %}</b></li></ol><p></p></div>
                             </div>
                            <div class="announcements">
                                    <h2>Announcements</h2>
                                      <div class="rich-text"><ol><li><b>Join us for EmpowerU!</b></li><li><b>Our 12 week empowerment classes are offered 2x a year for girls ages 8-13 years!</b></li><li><b>Become more physically active, working their way up to getting 60 minutes of exercise a day and staying active for life!</b></li><li><b>Develop and maintain self-respect, self-confidence, and a positive self-image.</b></li><li><b>Understand the connection between mind and body.</b></li></ol><p></p></div>
                            </div>
                    </div>
                </div>

                <form action="{% pageurl page %}" method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="pageurl" value="{% pageurl page %}">
                    <br>
                    <br>
                    <input class="btn-md btn-fitgirl"  type="submit">
                </form>
            {% else %}
                <div>You have already answered this. Go to the next question.</div>
            {% endif %}
        {% else %}
            <div>To fill in the form, you should log in.</div>
        {% endif %}
<br>
<br>
<!--added btn-return - Brent-->
<!--<a href="{{ page.get_parent.url }}"  class="btn btn-fitgirl pull-right btn-return"><i class="fa fa-chevron-circle-left"></i> &nbsp Return</a>-->
    <style>
    body {
        background-color: #e3e3e3;
    }
    </style>
{% endblock %}
</div>