{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
        <h1>{{ page.title }}</h1>

        {% if user.is_authenticated and user.is_active or request.is_preview %}
            {% if form %}
                <div>{{ page.intro|richtext }}</div>
                <form action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit">
                </form>
            {% else %}
                <div>You have already answered this. Go to the next question.</div>
            {% endif %}
        {% else %}
            <div>To fill in the form, you should log in.</div>
        {% endif %}

<p><a href="{{ page.get_parent.url }}"> Return </a></p>
{% endblock %}