{% extends "base.html" %}
{#{% load wagtailcore_tags %}#}
{% load static wagtailcore_tags widget_tweaks %}

{% block content %}
    <div class ="container">
    <br>
    <br>
    <div id="printableArea" class=intro">
        <h1>{{ page.title }}</h1>

        {% if user.is_authenticated and user.is_active or request.is_preview %}
            {% if form %}
                <div>{{ page.intro|richtext }}</div>
                <div>{{ page.description|richtext }}</div>
                <form action="{% pageurl page %}" method="POST">

                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="col-sm-8 form-group">
                            {{ field.label_tag }}
                            {% render_field field class+="form-control" %}
                        </div>
                    {% endfor %}
                <br>
                <div class="col-sm-8">
                    <br>
                    <input class="btn-md btn-grey" type="button" value="Click here to print the form" onClick="window.print();"/>
                    <br>
                    <br>
                    <br>
                    <input class="btn-md btn-fitgirl"  type="submit">
                </div>
                </form>

            {% else %}
                <div>You have already answered this. Go to the next question.</div>
            {% endif %}
        {% else %}
            <div>To fill in the form, you should log in.</div>
        {% endif %}
    </div>
    <br>
    <!--added btn-return - Brent-->
     <a href="{{ page.get_parent.url }}"  class="btn btn-fitgirl pull-right btn-return"><i class="fa fa-chevron-circle-left"></i> &nbsp Return</a>
    {#    <script>#}
    {#        function printDiv(divName){#}
    {#            var printContents = document.getElementById(divName).innerHTML;#}
    {#            var originalContents = document.body.innerHTML;#}
    {#            document.body.innerHTML = printContents;#}
    {#            window.print();#}
    {#            document.body.innerHTML = originalContents;#}
    {#        }#}
    {#    </script>#}
{% endblock %}
</div>
