{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load staticfiles %}


{% block content %}

<div class ="container">
    <br>
    <br>
  <h1 style="text-align: center;">{{ page.title }}</h1>
    <h3 style="text-align: center;">{{ page.description|richtext }}</h3>
    <!--Card Content-->
    <div class="row" style="display: flex; flex-wrap: wrap; text-align: center;">
        {% for post in page.get_children %}
            {% image post.specific.display_image original as reward_image %}
        <div class="col-sm-4 mt-3">
            <div class="card hoverable">
                <a href ="{% pageurl post %}">
                    <img class="card-img-top " src="{{ reward_image.url }}" alt="Card image cap" />
                    <div class="card-body bg-dark">
                        <h5 class="card-title"><b>{{ post.title|richtext }}</b></h5>
                        <p class="card-text">{{ post.specific.description|richtext }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</br>
</br>
<!--<p><a href="{{ page.get_parent.url }}">Back</a></p>-->
</div>
{% endblock %}
</div>
