{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load staticfiles %}


{% block content %}

<div class ="container">
    <br>
    <br>
  <h1>{{ page.title }}</h1>
    <!--{{ page.description|richtext }}-->
    <div class="card-deck ">
        {% for post in page.get_children %}
            {% image post.specific.display_image original as reward_image %}
                <div class="card">
                      <a href ="#">
                           {% if post.reward_image %}
                          <img class="card-img-top" src="{{ reward_image.url }}" alt="Card image cap" style="width: 100%; height: 10vw; object-fit: cover;"/>
                           {% endif %}
                          <div class="card-body">
                              <h5 class="card-title"><b>{{ post.title|richtext }}</b></h5>
                      <p class="card-text">{{ post.specific.description|richtext}}</p>
                    </div>
                      </a>
                  </div>
        {% endfor %}
    </div>

</br>
</br>
<p><a href="{{ page.get_parent.url }}">Return </a></p>
</div>
{% endblock %}
</div>