{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load staticfiles %}
{% load rewards %}


{% block content %}

<!-- changes done for streched image- srishty -->

    {% reward_categories as categories %}
    <div class ="container rewards-index-page">
  <h1 style="text-align: center;">{{ page.title }}</h1>
    <h3>{{ page.intro|richtext }}</h3>
    <h3 style="text-align: center;">{{ page.description|richtext }}</h3>
    <!--Card Content-->
    <div class="row" style="display: flex; flex-wrap: wrap; text-align: center;">
        {% for category in categories %}
        <div class="col-sm-4 mt-3">
            <div class="card hoverable">
                <a href ="/reward_category/{{ category.category }}">

                    <!-- changes done for streched image- srishty -->
                    <img class="card-img-top rewards-img " src="/media/{{ category.category_image }}" alt="Card image cap" style="width: 100%; height: 200px; object-fit: contain;"/>
                    <div class="card-body bg-dark">
                        <h5 class="card-title"><b>{{ category.category }}</b></h5>
                        <p class="card-text">{{ category.description }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</br>
</br>
<!--<p><a href="{{ page.get_parent.url }}">Back</a></p>-->
</div>
{% endblock %}
</div>
