{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load staticfiles %}


{% block content %}

<div class ="container rewards-post-page">
    <div class="spacer-div-30"></div>
    <div style="text-align: center;">
        <h1>{{ page.title }}</h1>
        <h4>{{ page.description|richtext }}</h4>
        <p class="card-text">Required points:{{ page.points_for_this_service }}</p>
        <form action="{% url 'redeem_rewards' %}" onclick="validate(this);" method="POST">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary btn-pink">Click to Redeem</button>
        </form>
<!--brent removed <br> for spacing-->
<!--added btn-return - Brent-->
    </div>
    <a href="{{ page.get_parent.url }}"  class="btn btn-fitgirl pull-right"><i class="fa fa-chevron-circle-left"></i> &nbsp Return</a>
</div>

<script>
function validate() {
    var points_for_service = document.getElementById("service_points").value;

    if({{ user_data.profile.points }} < points_for_service){
        $('#ModalRedeemFail').modal('show');
        {#alert('You do not have enough points :( ');#}
        return false;
    } else {
        $('#ModalRedeemSuccess').modal('show');
        }
        {#return confirm('{{ page.points_for_this_service }} will be deducted from your points. Do you really want to continue?');#}
}
</script>
    {# Rewards popup - Aishwarya #}
    <div>
        <div class="modal fade" id="ModalRedeemFail" tabindex="-1" role="dialog" aria-labelledby="ModalRedeemFail" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
             <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                    <a class="navbar-brand" href="/"><img src="/static/images/EmpowerU_LogoHR25.png" alt="logo" height="40"></a>
              </h5>
              <button type="button" class="close remove-popup" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
             </div>
             <div class="modal-body">
                  <p>You do not have enough points to redeem this reward :( </p>
             </div>
             <div class="modal-footer text-center">
              <button type="button" class="btn btn-secondary btn-pink" data-dismiss="modal">OK</button>
             </div>
            </div>
           </div>
          </div>
    <div class="modal fade" id="ModalRedeemSuccess" tabindex="-1" role="dialog" aria-labelledby="ModalRedeemSuccess" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
             <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                    <a class="navbar-brand" href="/"><img src="/static/images/EmpowerU_LogoHR25.png" alt="logo" height="40"></a>
              </h5>
              <button type="button" class="close remove-popup" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
             </div>
             <div class="modal-body">
                  <p>{{ page.points_for_this_service }} points will be deducted from your reward points. Are you sure you want to continue?</p>
             </div>
             <div class="modal-footer text-center">
                 <form action="{% url 'redeem_rewards' %}" method="POST">
                     {% csrf_token %}
                     <input type="hidden" name="points" id="service_points" value="{{ page.points_for_this_service }}">
                     <input type="hidden" name="service" value="{{ page.title }}">
                     <button type="submit" class="confirm btn btn-secondary btn-pink">CONFIRM</button>
                     <button type="button" class="cancel btn btn-secondary btn-pink" data-dismiss="modal">NO, THANKS</button>
                 </form>
             </div>
            </div>
           </div>
    </div>
    </div>
{# Rewards popup - Aishwarya #}

{% endblock %}
