{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load sidebar_data %}

{% block title %}Statements{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class ="container statement-page">
             <h3 style="text-align: center;">Mission Edit: {{ page.mission}}</h3>
             <h3 style="text-align: center;"> Vision Edit:{{ page.vision}}</h3>
             <h3 style="text-align: center;"> Values Edit:{{ page.values}}</h3>
    </div>
        <button type="submit" class="save btn btn-pink ">Update</button>


{% endblock %}