{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}Weeks{% endblock %}

{% block content %}
<div class ="container">
    <br>
    <br>
  <h1>{{ page.title }}</h1>
  <div class=intro"> {{page.description}} </div>

  {% for post in page.get_children %}
<h2><a href="{% pageurl post %}">{{post.title}}</a></h2>
{% endfor %}
    <div class ="container">
    <br>
    <br>
  <h1>{{ page.title }}</h1>
{{ page.body|richtext }}
    {{ page.description|richtext }}
    <div class="card-deck ">
        {% for post in page.get_children %}
    <div class="card">
                      <a href ="{% pageurl post %}">
                        <!--<img class="card-img-top" src="{% image post.image fill-320x240 %}" alt="Card image cap" style="width: 100%; height: 10vw; object-fit: cover;">-->
                          <!--<img class="card-img-top" src="{{ post.specific.intro|richtext}}" alt="Card image cap" style="width: 100%; height: 10vw; object-fit: cover;">-->
                          <img class="card-img-top" src="/media/images/Physical.jpg" alt="Card image cap" style="width: 100%; height: 10vw; object-fit: cover;">
                          <div class="card-body">
                      <h5 class="card-title">{{ post.title|richtext }}</h5>
                      <p class="card-text">{{ post.specific.description|richtext }}</p>
                    </div>
                      </a>
                  </div>
        {% endfor %}
    </div>

<p><a href="{{ page.get_parent.url }}">Return</a></p>
{% endblock %}
  </div>
