{% load menu_tags %}
{% load wagtailcore_tags %}
{% load useractivity %}
<!--<div class="collapse" id="collapseExample">-->
<div class="navbar-parent">
    <div class="slider">
            <!-- <span class="previous">&larr;</span> 
            
        <span class="next">&rarr;</span>  -->
        
        <a href="#" class="previous glossy_button">&#8249;</a>
        <a href="#" class="next glossy_button">&#8250;</a>
    <nav class="navbar navbar-light bg-light" style="border:0">  
          <ul> 
        {% now "Y-m-d" as current_date %}
        {% for item in menu_items %}
            {% if item.specific.end_date and item.specific.start_date %}
                {% if current_date > item.specific.end_date|date:"Y-m-d" %}
                    <li class="{{ item.active_class }}{% if item.has_children_in_menu %} dropdown{% endif %} list-unstyled">
                        <a href="{{ item.href }}"  class="btn btn-sm btn-pink btn-rounded disabled">{{ item.text }}</a>
                    </li>
                {% elif current_date < item.specific.start_date|date:"Y-m-d" %}
                    <li class="{{ item.active_class }}{% if item.has_children_in_menu %} dropdown{% endif %} list-unstyled">
                        <a href="{{ item.href }}"  class="btn btn-sm btn-pink btn-rounded disabled">{{ item.text }}</a>
                    </li>
                {% else %}
                    <li class="{{ item.active_class }}{% if item.has_children_in_menu %} dropdown{% endif %} list-unstyled">
                        <a href="{{ item.href }}"  class="btn btn-sm btn-pink btn-rounded">{{ item.text }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="{{ item.active_class }}{% if item.has_children_in_menu %} dropdown{% endif %} list-unstyled">
                    <a href="{{ item.href }}"  class="btn btn-sm btn-pink btn-rounded">{{ item.text }}</a>
                </li>
            {% endif %}
        {% endfor %}
         </ul> 
        </nav>
</div>
</div>