{% extends "base.html" %}

{% block title %}Pre-Assessment{% endblock %}
{% block content %}
<body>

<div class="container text-justify" style="padding-top:2%">
    <!-- <div class="row" style="padding-top:2%"> -->

        <p class="h6-responsive">1) How much time do you spend wathcing television every week (including videos on VCR/DVD)</p>
        <select class="ans-select hoverable">
                    <option value="" disabled selected>Choose your Answer</option>
                    <option value="0">None</option>
                    <option value="0.25">15 min. or less</option>
                    <option value="0.5">30 min</option>
                    <option value="1">1 hr</option>
                    <option value="2">2 hrs</option>
                    <option value="3">3 hrs</option>
                    <option value="4">4 hrs</option>
                    <option value="5">5 hrs</option>
                    <option value="6">6 hrs or more</option>
             </select>

             <br> <br>
             <p class="h6-responsive">2) Playing computer or video games every week</p>
             <select class="ans-select hoverable">
                    <option value="" disabled selected>Choose your Answer</option>
                    <option value="1">None</option>
                    <option value="2">15 min. or less</option>
                    <option value="3">30 min</option>
                    <option value="3">1 hr</option>
                    <option value="3">2 hrs</option>
                    <option value="3">3 hrs</option>
                    <option value="3">4 hrs</option>
                    <option value="3">5 hrs</option>
                    <option value="3">6 hrs or more</option>
             </select>
             <br>  <br>
             <p class="h6-responsive">3) Playing computer or video games every week</p>
             <select class="ans-select hoverable">
                    <option value="" disabled selected>Choose your Answer</option>
                    <option value="1">None</option>
                    <option value="2">15 min. or less</option>
                    <option value="3">30 min</option>
                    <option value="3">1 hr</option>
                    <option value="3">2 hrs</option>
                    <option value="3">3 hrs</option>
                    <option value="3">4 hrs</option>
                    <option value="3">5 hrs</option>
                    <option value="3">6 hrs or more</option>
             </select>
             <br><br>
             <p class="h6-responsive">4) Spending time on your phone</p>
             <select class="ans-select hoverable">
                    <option value="" disabled selected>Choose your Answer</option>
                    <option value="1">None</option>
                    <option value="2">15 min. or less</option>
                    <option value="3">30 min</option>
                    <option value="3">1 hr</option>
                    <option value="3">2 hrs</option>
                    <option value="3">3 hrs</option>
                    <option value="3">4 hrs</option>
                    <option value="3">5 hrs</option>
                    <option value="3">6 hrs or more</option>
             </select>
             <br><br>
             <h6><p >5) How much time do you participate in a sport (basketball, volleyball, softball, dance, gymnastics, etc)?</p></h6>
             <select class="ans-select hoverable">
                    <option value="" disabled selected>Choose your Answer</option>
                    <option value="1">None</option>
                    <option value="2">15 min. or less</option>
                    <option value="3">30 min</option>
                    <option value="3">1 hr</option>
                    <option value="3">2 hrs</option>
                    <option value="3">3 hrs</option>
                    <option value="3">4 hrs</option>
                    <option value="3">5 hrs</option>
                    <option value="3">6 hrs or more</option>
             </select>
             <br><br>
             <p class="h6-responsive">6) How often do you exercise (walk, swim, etc)?</p>
            <select class="ans-select hoverable">
                    <option  value="" disabled selected>Choose your Answer</option>
                     <option class="hoverable"value="1">None</option>
                    <option class="hoverable" value="2">15 min. or less</option>
                    <option class="hoverable" value="3">30 min</option>
                    <option class="hoverable" value="3">1 hr</option>
                    <option class="hoverable" value="3">2 hrs</option>
                    <option class="hoverable" value="3">3 hrs</option>
                    <option class="hoverable" value="3">4 hrs</option>
                    <option class="hoverable" value="3">5 hrs</option>
                    <option class="z-depth-5" value="3">6 hrs or more</option>
             </select>
             <br><br>
            <Strong> <p >Please read these statements and pick the answer that best
                    describes how you have felt in the past week. Answer as
                    honestly as you can. The correct answer is to say how you
                    really have felt. Mostly - Sometimes - Never</p>
            </Strong>
            <br><br>
            <p class="h6-responsive">6) I sleep very well.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">7) I feel like crying.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">8) I like to go out to play.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">9) I have lots of energy.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">10) I enjoy my food.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">11) I can stick up for myself.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">12) I am good at the things I do.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">13) I like talking with my family.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">14) I feel very lonely.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">15) I am very cheered up.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">16) I feel so sad I can hardly stand it.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <p class="h6-responsive">17) I feel very bored.......</p>
           <select class="ans-select hoverable">
                   <option  value="" disabled selected>Choose your Answer</option>
                    <option class="hoverable"value="1">Mostly</option>
                   <option class="hoverable" value="2">Sometimes</option>
                   <option class="hoverable" value="3">Never</option>
            </select>
            <br><br>
            <a href="/" class="btn btn-fitgirl">Submit</a>

    </div>
{% endblock %}