{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container offset-lg-2 justify-content-between">
  <div class="col-sm-9 ">

    <h1>FITGirl, Inc.</h1>

    <p>The mission of FITGirl, Inc is to empower young girls as they develop
    and mature by demonstrating positive lifestyle choices: mental, physical,
        nutritional, relational.</p>

    <p>FITGirl, Inc.  was developed in direct response to the decline in physical
    activity among young girls, lack of opportunity for participation in physical
    activity outside of select sports and the increase in low self-esteem. Seven in ten
    girls believe they are not good enough or do not measure up in some way, including their
    looks, performance in school and relationships with family and friends.</p>

    <p>Programs and summer camps provide empowerment workshops focusing on relationships, body image,
    self-esteem, goal setting and self worth in tandem with various physical fitness
    and nutritional activities.
    </p>

  </div>
    </div>
{% endblock %}
