{% extends "base.html" %}


{% block title %}Dashboard{% endblock %}

<header id="header">
<div class="container">
    <div class="row">
            <div class="col-md-10">
         {% block content %}
	{% if request.user.is_superuser %}
   
             
                <h1><i class="fas fa-address-book"></i> {{user.get_username }} Dashboard</h1>
              </div>
  	{% else %}
  		<h4>User Dashboard </h4>
  	{% endif %}
    </div>
    <div class="row">
            <div class="col-sm-3">
            {% if request.user.is_superuser %}
                <div>
                      <div class="list-group">
                          <a href="#" class="list-group-item list-group-item-action  main-color-bg">Dashboard</a>
                          <a href="{% url "createprogram" %}" class="list-group-item list-group-item-action"><i class="fas fa-edit"></i> Create Program </a>
                          <a href="{% url "registerusers" %}" class="list-group-item list-group-item-action"><i class="fas fa-edit"></i> Register Users </a>
                          <a href="{% url "users" %}" class="list-group-item list-group-item-action">  <i class="fas fa-female fa-2x"></i> Users </a>
                          <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-cog"></i>  Settings </a>
                          <a href="{% url "password_change" %}" class="list-group-item list-group-item-action">Change Password</a>
                      </div>
                </div>
            {% else %}
                <div>
                      <div class="list-group">
                          <a href="#" class="list-group-item list-group-item-action  main-color-bg">Dashboard</a>
                          <a href="{% url "myprogram" %}" class="list-group-item list-group-item-action"><i class="fas fa-edit"></i>My Program</a>
                          <a href="{% url "password_change" %}" class="list-group-item list-group-item-action">Change Password</a>
                          <a href="{% url "edit" %}" class="list-group-item list-group-item-action">Edit Profile</a>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Points Earned</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                          </div>
                        </div>
                </div>
            {% endif %}

            </div>
            <div class="col-sm-9">
                {% block dash_content %}
                {% endblock %}

            </div>

</div>
</div>
{% endblock %}
