{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-10 col-12 align-items-center">
            <h1>Reset your password</h1>
        <p>We have emailed you instructions for resetting your password.</p>
            <p>If you did not receive an email, please make sure you've entered the email address you registered your EmpowerU</p>
            <p>account with or your spam folder.</p>
        </div>

    </div>
</div>

{% endblock %}