<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% extends 'account/dashboard.html' %}

{% block dash_content %}

<div class="container">
  <div class="col-12 col-sm-2 col-md-4 col-lg-10 offset-lg-1">

  <h1>Change you password</h1>
  <p>Use the form below to change your password.</p>
  <form action="." method="post">
    {{ form.as_p }}
    <br>
    <br>
    <p><input class="btn btn-sm btn-pink" type="submit" value="Change"></p>
    {% csrf_token %}
  </form>
</div>
</div>
 <script>
    $(document).ready(function(){
    $("#userLandingContent2").remove()
    $("#userLandingContent1").remove()

    });
</script>

<script>
    var stringToAdd="";
    var testIndex=0;
      $( "li" ).each(function( index ) {
       console.log( index + ": " + $( this).text());
        if($(this).text()=="Your password can't be too similar to your other personal information."
        || $(this).text()=="Your password must contain at least 8 characters."||
        $(this).text()=="Your password can't be a commonly used password."||
        $(this).text()=="Your password can't be entirely numeric.")
        {
        console.log($(this).text())
        stringToAdd+=$(this).text()+"\n"
        testIndex++;
       $(this).attr("id", testIndex);
         }
      });
      $( "p").each(function( index ) {
               $(this).attr("id","p"+ index);
      });


console.log( stringToAdd);
$(document).ready(function(){
    $('input').attr('title',stringToAdd)
    $('#1').empty()
    $('#2').empty()
    $('#3').empty()
    $('#4').empty()
    $('#p3').empty()
    $('#p2').css("height","79.5")
    $('#p6').css("height","79.5")
    $('#p2').css("overflow","hidden")
    $('#p6').css("overflow","hidden")
    $('input').tooltip
    $('label').css("width","auto")




});

</script>
{% endblock %}
