<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
     <div class="col-12 col-sm-2 col-md-12 offset-md- col-lg-10 offset-lg-0">
  <h1>Reset your password</h1>
  {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="." method="post">
      {{ form.as_table }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" /></p>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
</div>`
    </div>`
  </div>`

<script>

$(document).ready(function(){

 var before=$('ul').html();
    console.log(before);
     $('ul').empty();
     console.log($(before).text())
      var res = $(before).text().split(".",4);
       var final=res[0]+"\n"+res[1]+"\n"+res[2]+"\n"+res[3]

      console.log(final)
    $('input').attr('title',final)
    $('input').tooltip
    $('label').css("width","auto")


  
});
</script>


{% endblock %}