



Hello {{ user.get_short_name }} and Welcome to EmpowerU!

We are so excited you have signed up for the EmpowerU program and can't wait to show you
all the fun activities we have planned and the cool prizes you can win for participating every week!

Each day you have an opportunity to receive reward points for exercising 60 minutes a day and making your own nutritional snack!

You will also get to explore art, music, crafts and watch videos created just for you by local female athletes,
fitness trainers, makeup and hair stylists, community leaders, and more!  We will also provide healthy recipes
and cooking videos you can try at home with your parents!

The best part - you will get rewarded for doing these activities every day of the  week and win prizes from retailers such
as Amazon, Bath & Body Works, Athleta, Chipotle and TCBY.

Please click the link below to reset your password and begin week one!

http://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

Thank you,
The EmpowerU Team