
Hello from FITGirl!

Hi {{ user.get_short_name }},

We are very exited to have you all on EmpowerU program.

Overview:

The curriculum consists of 12 lessons, each of which features a story by a local athlete or a
peer role model and accompanying physical activities, discussion questions, facilitator tips, and
healthy snack ideas.

We have registered you to EmpowerU. Please reset your password by clicking on the below link.

http://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

Enjoy your 12 Weeks Program.

Regards,
FITGirl