



Hello {{ user.get_short_name }} and Welcome to EmpowerU!

We are so excited you have signed up for the EmpowerU mobile website and can't wait for you to explore all the exercises, recipes and games
you will find on this website!

Each day you have an opportunity to receive reward points for exercising 60 minutes and making your own nutritional snack!

You will also get to explore art, music, crafts and watch videos created just for you by local female athletes,
fitness trainers and community leaders. You can even send kindness cards to other students in the class!

Be sure to complete your profile and the assessment form with your parents and then you are on your way!
Don't worry if you miss a day in the week, you can always go back to the missed day, but within that week only.

Please click the link below to reset your password and begin!

http://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

Thank you,
The EmpowerU Team