{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container">
    <center>
    <div class="row justify-content-md-center">
        <div class="col-sm-10 col-12 align-items-center">
        <div class="spacer-div-30"></div>
            <h1>Reset your password</h1>
        <p>We have emailed you instructions for resetting your password.</p>
            <p>If you did not receive an email, please make sure you've entered the email address you registered your EmpowerU account with and be sure to check your spam folder. </p>
            <p>If you are still experiencing difficulties, please email us at info@fitgirlinc.com.</p>
        </div>

    </div>
    </center>
</div>

{% endblock %}
