{% extends 'account/dashboard.html' %}

{% block dash_content %}

<div class="container">
  <div class="col-12 col-sm-2 col-md-4 col-lg-10 offset-lg-1">

  <h1>Change you password</h1>
  <p>Use the form below to change your password.</p>
  <form action="." method="post">
    {{ form.as_p }}
    <p><input class="btn btn-sm btn-pink" type="submit" value="Change"></p>
    {% csrf_token %}
  </form>
</div>
</div>
  <script>
    $(document).ready(function(){
    $("#userLandingContent2").remove()
    $("#userLandingContent1").remove()

    });


    var stringToAdd="";
      $( "li" ).each(function( index ) {
        // console.log( index + ": " + $( this ).text() );
        if(index>=15)
        {stringToAdd+=$(this).text()+"\n"
         $(this).attr("id", index);
         }
      });
      $( "p" ).each(function( index ) {
               $(this).attr("id", index);
      });


console.log( stringToAdd);
$(document).ready(function(){
    $('input').attr('title',stringToAdd)
    $('#15').empty()
    $('#16').empty()
    $('#17').empty()
    $('#18').empty()
    $('#2').css("height","79.5")
    $('#2').css("overflow","hidden")
    $('input').tooltip
    $('label').css("width","auto")




});

    </script>
{% endblock %}
