

{{user.first_name |capfirst }} asked for password reset for email {{ email }}.
Please use the link below to reset your password:
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}


This reset link will expire at midnight and can only be used once.  Your username is: {{user.get_username }}

If you did not request a password reset, please make sure you do not have someone else logging into your account. If you feel you received this message in error, please email info@fitgirlinc.com.

Thank you,
The EmpowerU Team