{% extends 'account/dashboard.html' %}
{% load rewards %}
{% block dash_content %}
{% if request.user.is_superuser %}

    <div class="datatable-container">
        <div class="spacer-div-30"></div>
            <div class="col-sm-12">
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                <h1 class="text-left">Reward Categories</h1>
                <div class="reward-category-form">
                <form method="post" enctype="multipart/form-data">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                     <div class="reward-category-item">
                         {{ form.category.errors }}
                         {{ form.category.label_tag }}
                         {{ form.category }}
                     </div>
                    <div class="reward-category-item">
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="reward-category-item">
                        {{ form.category_image.errors }}
                        {{ form.category_image.label_tag }}
                        {{ form.category_image }}
                    </div>
                    <div class="reward-category-item">
                        <button type="submit">Add</button>
                        <button onclick="event.preventDefault(); location.href = '/reward_item';" class="float-right">Reward Items</button>

                    </div>
                </form>
                </div>
            </div>

            {% reward_categories as rewards %}
            <table id="dtDynamicVerticalScroll" class="table table-hover table-striped table-bordered" class="target">
                <thead class="thead stylish-color text-white">
                    <tr>
                        <th class="th-lg">Category</th>
                        <th class="th-lg">Description</th>
                        <th class="th-lg text-center">Image</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reward in rewards %}
                    <tr class="hoverable">
                        <td>{{ reward.category }}</td>
                        <td>{{ reward.description }} {{ reward.id }}</td>
                        <td><img src="{{ MEDIA_URL }}/{{ reward.category_image }}" height="35"></img></td>
                        <td><a onclick="action_row({{ reward.id }}, 'delete')" class="fa fa-trash"></a></td>
                        <td><a href="/reward_category_edit/{{ reward.id }}" class="fa fa-edit"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endif %}

<script>
    function action_row(reward_id, action) {
        if (action = 'delete'){
            $('#ModalRedeemSuccess').modal('show');
            var test = document.getElementById('delete-reward-category');
            test.value = reward_id;
        }

    }
</script>

<script>
  $(document).ready(function () {
      $('#dtDynamicVerticalScroll').DataTable({
          "order": [[4, "YES"]],
          "responsive": true,
          "scrollCollapse": true,
          language: {
              searchPlaceholder: "Search",
              search: "",
          }
      });
      $('.dataTables_length').addClass('bs-select');
  });
$(document).ready(function(){
    $("#image1").remove()
    $("#image2").remove()
    $("#image3").remove()
    $("#users").css("border","2px solid")
    $("#users").css("background-color","#ed217c")
    $("#users").css("color","#ffffff")
    $("#users").css("border-color","black")
 });

let delete_row = function(x) {
        alert("Delete row " + x);
};

</script>
<style>
    .dataTables_wrapper .dataTables_length {
float: left;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.reward-category-form {
    padding-bottom: 10px;
}
</style>


<div class="modal fade" id="ModalRedeemSuccess" tabindex="-1" role="dialog" aria-labelledby="ModalRedeemSuccess" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <a class="navbar-brand" href="/"><img src="/static/images/EmpowerU_LogoHR25.png" alt="logo" height="40"></a>
                </h5>
                <button type="button" class="close remove-popup" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <p>Are you sure you want to delete it?</p>
            </div>
            <div class="modal-footer text-center">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" id="delete-reward-category" name="category_id" value="">
                    <button type="submit" class="confirm btn btn-secondary btn-pink">CONFIRM</button>
                    <button type="button" class="cancel btn btn-secondary btn-pink" data-dismiss="modal">NO, THANKS</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}