{% extends 'account/dashboard.html' %}
{% block dash_content %}
{% if request.user.is_superuser %}


<div class="datatable-container">
<div class="spacer-div-30"></div>
    <h1 class="text-left"> All Users</h1>
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

      <table id="example" class="table table-hover table-striped table-bordered" class="target">
          <thead class="thead stylish-color text-white">
          <tr>
              <th class="th-lg rewards-th">Reward Number<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
              <th class="th-lg rewards-th">User<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
              <th class="th-lg text-center rewards-th">Points Redeemed<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
              <th class="th-lg text-center rewards-th">Service Used<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
              <th class="th-lg text-center rewards-th">Time stamp<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
              <th class="th-lg text-center rewards-th" colspan="2" >Redeem Status</th>
              <!--<th class="th-lg text-center" >Redeem Status</th>-->
          </tr>
          <tr class="hide" style="display:none">

            <th>&nbsp;</th> <!-- column 4 -->
            <th>&nbsp;</th> <!-- column 4 -->
            <th>&nbsp;</th> <!-- column 4 -->
            <th>&nbsp;</th> <!-- column 4 -->
            <th>&nbsp;</th> <!-- column 4 -->
            <th>&nbsp;</th> <!-- column 4 -->
            <th>&nbsp;</th> <!-- column 5 -->
         </tr>
          </thead>
            <tbody>
                {% for rewards in rewards %}
                    <tr class="hoverable">
                        <td>{{ rewards.reward_no }}</td>
                        <td>{{ rewards.user }}</td>
                        <td align="center">{{ rewards.points_redeemed }}</td>
                        <td align="center">{{ rewards.service_used }}</td>
                        <td align="center">{{ rewards.timestamp }}</td>
                        {% if rewards.redeem_status == "No" %}
                            <td><a href="{% url 'redeem_yes' reward_no=rewards.reward_no %}">Yes</a></td>
                            <td align="center" class="btn-green">{{ rewards.redeem_status }}</td>
                        {% elif rewards.redeem_status == "Yes" %}
                            <td align="center" class="btn-green">{{ rewards.redeem_status }}</td>
                            <td align="center"><a href="{% url 'redeem_no' reward_no=rewards.reward_no %}">No</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{% endif %}

<script>
  $(document).ready(function () {
      $('#example').DataTable({
          "order": [[4, "YES"]],
          "responsive": true,
          "scrollCollapse": true,
          language: {
              searchPlaceholder: "Search",
              search: "",
          }
      });
      $('.dataTables_length').addClass('bs-select');
  });
$(document).ready(function(){
    $("#image1").remove()
    $("#image2").remove()
    $("#image3").remove()
    $("#users").css("border","2px solid")
    $("#users").css("background-color","#ed217c")
    $("#users").css("color","#ffffff")
    $("#users").css("border-color","black")
 });
</script>
<style>
    .dataTables_wrapper .dataTables_length {
float: left;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}
</style>



{% endblock %}
