{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<style>
h1 {text-align:center;}
p {text-align:center;}
</style>
<br>
<br>
<div class="container offset-lg-2 justify-content-between">
  <div class="col-sm-9 offset-lg-2">

    <h1><b>FOOD, FUN, FITNESS & FRIENDS!</b></h1>

    <p>Being active not only makes you feel good about yourself, it makes you healthier.
      Our goal at FITGirl, Inc is to introduce you to fun physical activities and help you
      discover the strong, confident, brave person you were
      created to be by sharing ideas and tips that will help you:</p>

    <p>Deal with Difficult Feelings</p>
    <p>Stop Bullying</p>
    <p>Learn How to Say No to Peer Pressure</p>
    <p>Choose Healthy Food Options</p>
    <p>Make New Friends</p>
    <p>Give Back to the Community</p>
    <p>Control Fear & Anxiety</p>
    <p>Stay Active 60 Minutes a Day</p>
    <p>Change Negative Self Talk</p>
    <p>Learn to Love Your Body</p>
<p>Become Confident in Everything you Do!</p>

    <p>The mission of FITGirl, Inc is to empower young girls as they develop and mature by
demonstrating positive lifestyle choices: mental, physical, relational and nutritional.
    </p>

  </div>
    </div>
{% endblock %}
