{% extends 'account/dashboard.html' %}

{% block dash_content %}

{% if request.user.is_superuser %}
<div class="container-fluid">
    <fieldset>
        <legend>Clone a Program</legend>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-default" value="Submit" action="submit">Submit</button>
        </form>
    </fieldset>
</div>

{% else %}
    <div class="container">
    <h1>Error</h1>
    </div>
{% endif %}


{% endblock %}