{% extends 'account/dashboard.html' %}
{% load crispy_forms_tags %}
{% block dash_content %}
<div class="container">
    <div class="col-9 offset-lg-0">
        <div class="spacer-div-30"></div>
        <h1 class="text-left">Default Password</h1>
        <br>
        <p><b>Current Default Password:</b> {{ pass1 }}</p>
        <form actions="{% url 'default_password' %}" method="post" class="form-group">
            {% csrf_token %}
            <label for="password"><b>New Default Password</b> </label>
            <input type="text" name="password" class="form-control" >

            <button type="submit" class="btn btn-pink waves-effect waves-light">Submit</button>
        </form>
    </div>
</div>
{% endblock %}