{% extends 'account/dashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit your account{% endblock %}

{% block dash_content %}
<div class="container">
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
<div class="col-sm-9">
  <h1 class="text-left">Edit your Profile</h1>
  <h5>Fill out all the mandatory fields and save your profile to proceed</h5>
  <br>
  <br>
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}" height="100" width="100" style="height: 100px;width: 100px">
        <div class="media-body">
          <h2 class="account-heading">{{ user.first_name }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ user_form|crispy }}
              {{ profile_form|crispy }}
          </fieldset>
          <div class="form-group">
              <br>
              <br>
              <input type="submit" value="Save changes">

          </div>

      </form>
    </div>
</div>
    <br>
    <br>
    {% if user.profile.pre_assessment == "No" %}
    <a href="/" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i>&nbsp; PREV</a>
    {% if activated %}
    <a href="/pages/pre-assessment/" class="btn btn-secondary pull-right">NEXT &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
    {% else %}
    <a href="/pages/pre-assessment/" class="btn btn-secondary disabled pull-right" >NEXT &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
    {% endif %}
    {% endif %}

<script>
$(document).ready(function(){
$("#userLandingContent2").remove()
$("#userLandingContent1").remove()

});
</script>
<script>
 $(document).ready(function(){
    $("textarea").attr({"rows": "4"
    });
});
</script>
{% endblock %}