{% extends 'account/dashboard.html' %}

{% block title %}Edit your account{% endblock %}

{% block dash_content %}
  <div class="content-section">
    <h2>Edit your account</h2>
  <h3>You can edit your account using the following form:</h3>
  <br>
  <br>
        <div class='media'>
          <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}" width="120">
        </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="from-group">
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
    </fieldset>
        <div class='media'>
          <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}" width="80">
        </div>

    <br>
    <br>
    <p><input type="submit" value="Save changes"></p>
  </form>
  </div>
{% endblock %}