{% extends 'account/dashboard.html' %}

{% block title %}Edit your account{% endblock %}

{% block dash_content %}
<div class="container">
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
<div class="col-sm-9">
  <h2>Edit your account</h2>
  <h3>You can edit your account using the following form:</h3>
  <br>
  <br>
      <form action="." method="post" enctype="multipart/form-data">
      <fieldset class="from-group">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
	    </fieldset>
      <div class='media'>
          <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}" height="100" width="100">
      </div>
      <br>
      <br>
      <p>
        <input class="btn-md btn-primary"  type="submit" value="Save changes">
      </p>
    </form>
</div>
    {% if user.profile.pre_assessment == "No" %}
    <a href="/" class="btn btn-secondary"><i class="fas fa-angle-double-left"></i>Previous Step</a>
    <a href="/pages/pre-assessment/" class="btn btn-secondary">Next Step<i class="fas fa-angle-double-right"></i></a>
    {% endif %}
</div>

<script>
$(document).ready(function(){
$("#userLandingContent2").remove()
$("#userLandingContent1").remove()

});
</script>
{% endblock %}