{% extends 'account/dashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}Email sent{% endblock %}

{% block dash_content %}
<div class="container">
    <div class="col-9 offset-lg-0">
        <div class="spacer-div-30">
        </div>
        <h1>
            <a href="/users/" class="btn btn-fitgirl pull-right back-btn">
            <i class="fa fa-chevron-circle-left">
            </i><span class="return-txt"> &nbsp Return</span></a>
            Email confirmation</h1>

        <p>Email was sent successfully to the following user's email accounts: {{ contact_email }}</p>

    </div>
    <div>
        <!--<a class="btn btn-fitgirl pull-right back-btn" href="/users/"><i class="fa fa-chevron-circle-left"></i> &nbsp Return</a>>Return</a>-->
    </div>


</div>
{% endblock %}
