{% extends 'account/dashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}Email sent{% endblock %}

{% block dash_content %}
<div class="container">
    <div class="col-9 offset-lg-0">
        <div class="spacer-div-30">
        </div>
        <h1>Email confirmation</h1>
        <p>Email sent to the following user's email accounts:</p>
        {% for name in name_list %}
            <p>{{ name }},</p>
        {% endfor %}
    </div>

    <a class="btn btn-pink waves-effect waves-light" href="/users/">Back</a>
{% endblock %}


