{% extends 'account/dashboard.html' %}
{% load crispy_forms_tags %}
{% block dash_content %}
{% if request.user.is_superuser %}

<div class="container">
    <div class="spacer-div-30"></div>
    <h1 class="text-left">Send E-mail</h1>

    <form action="{% url 'send_group_email' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>To: {{ to_list }}</p>
        {{ form.subject|as_crispy_field }}
        {{ form.message|as_crispy_field }}
        <input type="hidden" name="to_list" value="{{ to_list }}">
        <p>Select which content to be sent:
            <ul>
                <li><input type = "radio" name = "selection" value = "text" checked/> Message</li>
                <li><input type = "radio" name = "selection" value = "CMS content" /> CMS template
                        {{ template_form.templates }}
                </li>
            </ul>
        </p>
        <p><a><input type="submit" value="Send E-mail"></a></p>
    </form>
</div>
{% endif %}
{% endblock %}
