{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% if user_inactivity == "True" %}
            <div style="text-align: center;">
                {{ content.inactivity_message|richtext }}
            </div>
        {% else %}
            <div style="text-align: center;">
                {{ content.group_message|richtext }}
            </div>
        {% endif %}
</body>
</html>
