{% extends 'account/dashboard.html' %}
{% block dash_content %}

<div class="col-sm-9">
    <h1> Register Users by Adding the csv file</h1>
    <p> Choose the program from drop-down below: </p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Upload File"></input>
    </form>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<script>

$(document).ready(function(){


 $("#image1").remove()
    $("#image2").remove()
    $("#image3").remove()
    $("#registerUsers").css("border","2px solid")
    $("#registerUsers").css("background-color","#5eb8ad")
    $("#registerUsers").css("color","#ffffff")
    $("#registerUsers").css("border-color","black")
    $('.success').css('margin-left','-98px')
    $('.success').css('background-color','#3eb34b')





});
</script>
{% endblock %}