{% extends 'account/dashboard.html' %}
{% load rewards %}
{% block dash_content %}
{% if request.user.is_superuser %}

    <div class="datatable-container">
        <div class="spacer-div-30"></div>
            <div class="col-sm-12">
                <h1 class="text-left">Reward Categories</h1>
                <div class="reward-category-form">
                <form method="post" enctype="multipart/form-data">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                     <div class="reward-category-item">
                         {{ form.category.errors }}
                         {{ form.category.label_tag }}
                         {{ form.category }}
                     </div>
                    <div class="reward-category-item">
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="reward-category-item">
                        {{ form.category_image.errors }}
                        {{ form.category_image.label_tag }}
                        {{ form.category_image }}
                    </div>
                    <div class="reward-category-item">
                        <button type="submit">Add</button>
                        <button onclick="event.preventDefault(); location.href = '/reward_item';" class="float-right">Reward Items</button>

                    </div>
                </form>
                </div>
            </div>
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% reward_categories as rewards %}
            <table id="dtDynamicVerticalScroll" class="table table-hover table-striped table-bordered" class="target">
                <thead class="thead stylish-color text-white">
                    <tr>
                        <th class="th-lg">Category</th>
                        <th class="th-lg">Description</th>
                        <th class="th-lg text-center">Image</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for reward in rewards %}
                    <tr class="hoverable">
                        <td>{{ reward.category }}</td>
                        <td>{{ reward.description }}</td>
                        <td><img src="{{ MEDIA_URL }}/{{ reward.category_image }}" height="35"></img></td>
                        <td><i onclick="delete_row({{ reward.id }})" class="fa fa-trash"></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endif %}

<script>
  $(document).ready(function () {
      $('#dtDynamicVerticalScroll').DataTable({
          "order": [[4, "YES"]],
          "responsive": true,
          "scrollCollapse": true,
          language: {
              searchPlaceholder: "Search",
              search: "",
          }
      });
      $('.dataTables_length').addClass('bs-select');
  });
$(document).ready(function(){
    $("#image1").remove()
    $("#image2").remove()
    $("#image3").remove()
    $("#users").css("border","2px solid")
    $("#users").css("background-color","#ed217c")
    $("#users").css("color","#ffffff")
    $("#users").css("border-color","black")
 });

let delete_row = function(x) {
        alert("Delete row " + x);
};

</script>
<style>
    .dataTables_wrapper .dataTables_length {
float: left;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.reward-category-form {
    padding-bottom: 10px;
}
</style>


    </div>
</div>
{% endblock %}