{% extends 'account/dashboard.html' %}
{% block dash_content %}
<!--Pre-Assessment Popup-->
             <!--Modal: pre_assess-->
             <div class="modal fade" id="pre_assess" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-notify modal-info" role="document">
                     <!--Content-->
                     <div class="modal-content text-center">
                         <!--Header-->
                     {% for affirmation in affirmations %}
                         <div class="modal-header d-flex justify-content-center" style="background-color:#ed217c">
                            <p class="heading">Welcome to EmpowerU!</p>
                         </div>
                         <!--Body-->
                         <div class="modal-body">
                             <i class="fa fa-heart fa-4x animated rotateIn slow mb-4" style="color:#ed217c" ></i>
                             <h2 ><p class="animated bounceIn slower ">{{ affirmation.affirmation}}</p></h2>
                         </div>
                     {% endfor %}
                     </div>
                     <!--/.Content-->
                 </div>
             </div>
{% if request.user.is_superuser %}
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="/admin" allowfullscreen></iframe>
</div>
{% else %}
<div class="container">
<div class="col-sm-9">
    <h1>Welcome to EmpowerU Program by FirGirls Inc.</h1>
    <p> The goals of the curriculum are for girls to :
        <br>
    1. Become more physically active, working their way upto getting 60 minutes of exercise a day... and staying active for life!
    <br>
        2. Develop and maintain self-respect, self-confidence, and a positive self-image.
    <br>
    3. Understand the connection between mind and body.
    <br>
    4. Internalize the message that there is no one "ideal" body type.
    <br>
    5. Begin to understand the consequences of and explore alternatives to health-risk behavious.
    <br>
    6. Gain developmentally appropriate knowledge of nutrition and the health benefits of physical activity.
    <br>
    7. Increase their motivation to participate in sports and other kinds of physical activity.
    <br>
    8. Be able to respond positively to peer pressure.
    <br>
    9. Accept and respect others.
    <br>
    10. Build positive relationships with adult facilitators and the peers in the group.
    <br>
    11. Build leadership skills and serve as role models for other girls to get physically active.
    <br>
    12. Learn how to set goals and work towards achieving them.
    <br>
    </p>
</div>
</div>
{% endif %}
<!--Pre-Assessment Check-->
{% if request.user.is_superuser %}
{% else %}
    {% if request.user.program_status != "complete" %}
        <script>
            $(window).load(function(){
            $('#pre_assess').modal('show');
            });
        </script>
    {% endif %}
{% endif %}


<script>
    $(document).ready(function(){
    $("#userLandingContent2").remove()
    $("#userLandingContent1").remove()
    
    });
    </script>
{% endblock %}
