{% extends 'account/dashboard.html' %}
{% block dash_content %}

<div class="col-sm-9">
  <table class="table table-striped table-bordered table-hover" class="target">
      <thead class="thead-pink">
      <tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
            <th>Active</th>
            <th>User Logged-In</th>
      </tr>
      </thead>
        <tbody>
        {% for registeredUser in registeredUsers %}
        <tr>
        <td>{{ registeredUser.first_name }}</td>
				<td>{{ registeredUser.last_name }}</td>
				<td>{{ registeredUser.email }}</td>
        {% if registeredUser.is_active %}
          <td><button type="button" class="btn btn-lg btn-primary" disabled>Active</button></td>
        {% else %}
          <td><button type="button" class="btn btn-lg btn-primary" disabled>Inactive</button></td>
        {% endif %}
        {% if registeredUser.last_login is None %}
           <td><button type="button" class="btn btn-lg btn-primary" disabled>No</button></td>
        {% else %}
          <td><button type="button" class="btn btn-lg btn-primary" disabled>Yes</button></td>
        {% endif %}
        {% endfor %}
        </tr>
        </tbody>
    </table>
</div>

<script>

$(document).ready(function(){



    $("#users").css("border","2px solid")
    $("#users").css("background-color","#ed217c")
    $("#users").css("color","#ffffff")
    $("#users").css("border-color","black")
});

</script>

{% endblock %}
