{% extends 'account/dashboard.html' %}
{% block dash_content %}
{% if request.user.is_superuser %}
<div class="container">
  <div class="row">


<div>

  
  <h1> All Users</h1>
  

  <table id="dtDynamicVerticalScroll" class="table table-hover table-striped table-responsive-lg" class="target">
      <thead class="thead stylish-color text-white ">
      <tr>
			<th class="th-lg">Program<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
          <th class="th-lg">First Name <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
			<th class="th-lg">Last Name <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
			<th class="th-lg">Email <i class="fa fa-sort float-right" aria-hidden="true"></i></th>

          <th class="th-lg">Age<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th class="th-lg">Active<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th class="th-lg">User Logged-In <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th class="th-lg">Pre-assessment <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th class="th-lg">Points <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      </tr>
      </thead >
        <tbody  >
        {% for registeredUser in registeredUsers %}
        <tr class="hoverable">
        <td>{{ registeredUser.profile.program.program_name  }}</td>


        <td>{{ registeredUser.first_name }}</td>
				<td>{{ registeredUser.last_name }}</td>
				<td>{{ registeredUser.email }}</td>
             <td>{{ registeredUser.profile.age}}</td>
        {% if registeredUser.is_active %}
          <td><i class="fas fa-check fa-lg"style="color:#008000"></i></td>
        {% else %}
         <td><i class="fas fa-times fa-lg " style="color:#FF0000"></i></td>
        {% endif %}
        {% if registeredUser.last_login is None %}
           <td><i class="fas fa-times fa-lg " style="color:#FF0000"></i></td>
        {% else %}
          <td><i class="fas fa-check fa-lg " style="color:#008000"></i></td>
        {% endif %}
          {% if registeredUser.profile.pre_assessment == "No" %}
          <td><i class="fas fa-times fa-lg " style="color:#FF0000"></i></td>
        {% else %}
          <td><i class="fas fa-check fa-lg " style="color:#008000"></i></td>
        {% endif %}
           <td>{{ registeredUser.profile.points }}</td>


        {% endfor %}
        </tr>
        </tbody>
    </table>
  </div>

</div>
</div>
</div>

  {% endif %}

<script>

  $(document).ready(function () {
  $('#dtDynamicVerticalScroll').DataTable({
      "order": [[ 4, "YES" ]],
    "scrollY": "80vh",
    "scrollCollapse": true,
  });
//   $('#dtBasicExample').DataTable({"order": [[ 4, "NO" ]]});
  $('.dataTables_length').addClass('bs-select');
});

$(document).ready(function(){
    $("#image1").remove()
    $("#image2").remove()
    $("#image3").remove()
    $("#users").css("border","2px solid")
    $("#users").css("background-color","#ed217c")
    $("#users").css("color","#ffffff")
    $("#users").css("border-color","black")
});


</script>

{% endblock %}
