{% extends 'account/dashboard.html' %}
{% block dash_content %}
{% if request.user.is_superuser %}
<div class="container">
  <div class="row">


<div class=" col-md-10 offset-md- col-lg-12 offset-lg-0 " >

  
  <h1> All Users</h1>
  

  <table id="dtDynamicVerticalScroll" class="table table-hover table-striped table-responsive-lg table-bordered" class="target">
      <thead class="thead stylish-color text-white">
      <tr>
          <th class="th-lg text-center">Program<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
          <th class="th-lg text-center">First Name <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
			<th class="th-lg text-center">Last Name <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
			<th class="th-lg text-center">Email <i class="fa fa-sort float-right" aria-hidden="true"></i></th>

          <th class="th-lg text-center">Age<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th class="th-lg text-center">Active<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th class="th-lg text-center">User Logged-In <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th class="th-lg text-center ">Pre-assessment <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th class="th-lg text-center">Points <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      </tr>
      </thead >
        <tbody  >
        {% for registeredUser in registeredUsers %}
        <tr class="hoverable">
        <td align="center">{{ registeredUser.profile.program.program_name  }}</td>


        <td align="center" >{{ registeredUser.first_name }}</td>
				<td  align="center">{{ registeredUser.last_name }}</td>
				<td align="center" >{{ registeredUser.email }}</td>
             <td align="center">{{ registeredUser.profile.age}}</td>
        {% if registeredUser.is_active %}
          <td align="center"><i class="fas fa-check fa-lg"style="color:#008000"></i></td>
        {% else %}
         <td align="center"><i class="fas fa-times fa-lg " style="color:#FF0000"></i></td>
        {% endif %}
        {% if registeredUser.last_login is None %}
           <td align="center" ><i class="fas fa-times fa-lg " style="color:#FF0000"></i></td>
        {% else %}
          <td align="center" ><i class="fas fa-check fa-lg " style="color:#008000"></i></td>
        {% endif %}
          {% if registeredUser.profile.pre_assessment == "No" %}
          <td align="center"><i class="fas fa-times fa-lg " style="color:#FF0000"></i></td>
        {% else %}
          <td align="center"><i class="fas fa-check fa-lg " style="color:#008000"></i></td>
        {% endif %}
           <td align="center">{{ registeredUser.profile.points }}</td>


        {% endfor %}
        </tr>
        </tbody>
    </table>
  </div>

</div>
</div>
</div>

  {% endif %}

<script>

  $(document).ready(function () {
      $('#dtDynamicVerticalScroll').DataTable({
              "order": [[4, "YES"]],
              "scrollY": "80vh",
              "scrollCollapse": true,
              language: {
                  searchPlaceholder: "Search",
                  search: "",
              }
  });
//   $('#dtBasicExample').DataTable({"order": [[ 4, "NO" ]]});
  $('.dataTables_length').addClass('bs-select');
});

$(document).ready(function(){
    $("#image1").remove()
    $("#image2").remove()
    $("#image3").remove()
    $("#users").css("border","2px solid")
    $("#users").css("background-color","#ed217c")
    $("#users").css("color","#ffffff")
    $("#users").css("border-color","black")
});


</script>

{% endblock %}
