/* Required for full background image */


html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1100px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 700px;
  }
}


/* NAVBAR */

 .navbar {
    background-color: #757575;
    border-bottom:4px solid #ed217c;
  }
  .navbar .navbar-brand {
    color: #ecf0f1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #fcfbfe;
  }
  .navbar .navbar-text {
    color: #ecf0f1;
  }
  .navbar .navbar-text a {
    color: #fcfbfe;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #fcfbfe;
  }
  .navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #fcfbfe;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #757575;
    border-color: #e07dc4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #fcfbfe;
    background-color: #e07dc4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #e07dc4;
  }
  
  .navbar .navbar-toggle {
    border-color: #e07dc4;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #e07dc4;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar .navbar-link {
    color: #ecf0f1;
  }
  .navbar .navbar-link:hover {
    color: #fcfbfe;
  } */


@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {

  }
}

h6 {
  line-height: 1.7;
}

.btn-fitgirl {
    background-color: #ed217c!important;
    color: #fff!important;
}